<div class="ns_countrySearchTopAnimHolder">
	<div class="ns_countrySearchTopAnimHolderRel">
		<div class="ns_countrySearchTopAnimHolderAbs">
			<div class="ns_countrySearchTopAnimPersonBar ns_countrySearchTopAnimPersonBar1">
				<img class="ns_countrySearchTopAnimPerson" src="<%= pathStatic %>/<%= vocab_dir %>/img/personm1.png">
			</div>
			<div class="ns_countrySearchTopAnimPersonBar ns_countrySearchTopAnimPersonBar2">
				<img class="ns_countrySearchTopAnimPerson" src="<%= pathStatic %>/<%= vocab_dir %>/img/personf1.png">
			</div>
			
			<!-- scales go here -->
			<div class="ns_countrySearchAnimTopScalesHolder">
				<div class="ns_countrySearchTopAnimScalesLeftSide">
					<img class="ns_countrySearchTopAnimScalesPerson" src="<%= pathStatic %>/<%= vocab_dir %>/img/personm2.png" alt="">
					<img class="ns_countrySearchTopAnimScalesSide" src="<%= pathStatic %>/<%= vocab_dir %>/img/scalespart2.png" alt="">
				</div>
				<div class="ns_countrySearchTopAnimScalesRightSide">
					<img class="ns_countrySearchTopAnimScalesPerson" src="<%= pathStatic %>/<%= vocab_dir %>/img/personf2.png" alt="">
					<img class="ns_countrySearchTopAnimScalesSide" src="<%= pathStatic %>/<%= vocab_dir %>/img/scalespart2.png" alt="">
				</div>
				<img class="ns_countrySearchTopAnimScalesBottom" src="<%= pathStatic %>/<%= vocab_dir %>/img/scalespart1.png">
				<img class="ns_countrySearchTopAnimScalesPointer" src="<%= pathStatic %>/<%= vocab_dir %>/img/pointer.png">
			</div>

			<div class="ns_countrySearchTopAnimPersonBar ns_countrySearchTopAnimPersonBar3">
				<img class="ns_countrySearchTopAnimPerson" src="<%= pathStatic %>/<%= vocab_dir %>/img/personf3.png">
			</div>
			<div class="ns_countrySearchTopAnimPersonBar ns_countrySearchTopAnimPersonBar4">
				<img class="ns_countrySearchTopAnimPerson" src="<%= pathStatic %>/<%= vocab_dir %>/img/personm3.png">
			</div>
		</div>
	</div>
</div>