{
 "Albania": {
  "countryName": "Albania",
  "countryNameTranslation": "<%= Albania %>",
  "rank": 70,
  "currency": "&#128;",
  "womanDegree": "64.95636",
  "manDegree": "35.04364",
  "womanLabourForcePercent": 51.70000076,
  "manLabourForcePercent": 74,
  "womanSeniorOfficialsPercent": 22.51521298,
  "manSeniorOfficialsPercent": 77.68762677,
  "womanMpPercent": 20.71428571,
  "manMpPercent": 79.28571429,
  "womanMinistersPercent": 35,
  "manMinistersPercent": 65
 },
 "Algeria": {
  "countryName": "Algeria",
  "countryNameTranslation": "<%= Algeria %>",
  "rank": 128,
  "currency": "&#36;",
  "womanDegree": "62.14379",
  "manDegree": "37.85621",
  "womanLabourForcePercent": 16.20000076,
  "manLabourForcePercent": 76.19999695,
  "womanSeniorOfficialsPercent": 10.60606061,
  "manSeniorOfficialsPercent": 89.01515152,
  "womanMpPercent": 31.6017316,
  "manMpPercent": 68.3982684,
  "womanMinistersPercent": 20,
  "manMinistersPercent": 80
 },
 "Angola": {
  "countryName": "Angola",
  "countryNameTranslation": "<%= Angola %>",
  "rank": 126,
  "currency": "&#36;",
  "womanDegree": "48.04016",
  "manDegree": "51.95984",
  "womanLabourForcePercent": 64.5,
  "manLabourForcePercent": 77.80000305,
  "womanMpPercent": 36.81818182,
  "manMpPercent": 63.18181818,
  "womanMinistersPercent": 22.22222222,
  "manMinistersPercent": 77.77777778
 },
 "Argentina": {
  "countryName": "Argentina",
  "countryNameTranslation": "<%= Argentina %>",
  "rank": 35,
  "currency": "&#36;",
  "womanDegree": "60.83725",
  "manDegree": "39.16275",
  "womanLabourForcePercent": 55.09999847,
  "manLabourForcePercent": 81.80000305,
  "womanSeniorOfficialsPercent": 31.00059916,
  "manSeniorOfficialsPercent": 68.99940084,
  "womanMpPercent": 36.18677043,
  "manMpPercent": 63.81322957,
  "womanMinistersPercent": 22.22222222,
  "manMinistersPercent": 77.77777778
 },
 "Armenia": {
  "countryName": "Armenia",
  "countryNameTranslation": "<%= Armenia %>",
  "rank": 105,
  "currency": "&#36;",
  "womanDegree": "61.12125",
  "manDegree": "38.87875",
  "womanLabourForcePercent": 58.40000153,
  "manLabourForcePercent": 75.80000305,
  "womanSeniorOfficialsPercent": 31.7016317,
  "manSeniorOfficialsPercent": 68.2983683,
  "womanMpPercent": 10.6870229,
  "manMpPercent": 89.3129771,
  "womanMinistersPercent": 11.11111111,
  "manMinistersPercent": 88.88888889
 },
 "Australia": {
  "countryName": "Australia",
  "countryNameTranslation": "<%= Australia %>",
  "rank": 36,
  "currency": "&#36;",
  "womanSalaryDiff": 0.82,
  "womanDegree": "57.28212",
  "manDegree": "42.71788",
  "womanLabourForcePercent": 70.5,
  "manLabourForcePercent": 82.59999847,
  "womanSeniorOfficialsPercent": 36.07157381,
  "manSeniorOfficialsPercent": 63.93655958,
  "womanMpPercent": 26.66666667,
  "manMpPercent": 73.33333333,
  "womanMinistersPercent": 17.24137931,
  "manMinistersPercent": 82.75862069
 },
 "Austria": {
  "countryName": "Austria",
  "countryNameTranslation": "<%= Austria %>",
  "rank": 37,
  "currency": "&#128;",
  "womanSalaryDiff": 0.818,
  "womanDegree": "55.98828",
  "manDegree": "44.01172",
  "womanLabourForcePercent": 70.59999847,
  "manLabourForcePercent": 81.5,
  "womanSeniorOfficialsPercent": 30.27522936,
  "manSeniorOfficialsPercent": 69.67380224,
  "womanMpPercent": 30.6010929,
  "manMpPercent": 69.3989071,
  "womanMinistersPercent": 30.76923077,
  "manMinistersPercent": 69.23076923
 },
 "Azerbaijan": {
  "countryName": "Azerbaijan",
  "countryNameTranslation": "<%= Azerbaijan %>",
  "rank": 96,
  "currency": "&#36;",
  "womanDegree": "52.10256",
  "manDegree": "47.89744",
  "womanLabourForcePercent": 68.09999847,
  "manLabourForcePercent": 73.40000153,
  "womanSeniorOfficialsPercent": 32.99319728,
  "manSeniorOfficialsPercent": 67.00680272,
  "womanMpPercent": 15.57377049,
  "manMpPercent": 84.42622951,
  "womanMinistersPercent": 2.5,
  "manMinistersPercent": 97.5
 },
 "Bahamas": {
  "countryName": "Bahamas",
  "countryNameTranslation": "<%= Bahamas %>",
  "rank": 40,
  "currency": "&#36;",
  "womanLabourForcePercent": 76.40000153,
  "manLabourForcePercent": 84.09999847,
  "womanSeniorOfficialsPercent": 44.13793103,
  "manSeniorOfficialsPercent": 55.86206897,
  "womanMpPercent": 13.15789474,
  "manMpPercent": 86.84210526,
  "womanMinistersPercent": 20,
  "manMinistersPercent": 80
 },
 "Bahrain": {
  "countryName": "Bahrain",
  "countryNameTranslation": "<%= Bahrain %>",
  "rank": 123,
  "currency": "&#36;",
  "womanDegree": "60.48845",
  "manDegree": "39.51155",
  "womanLabourForcePercent": 40.70000076,
  "manLabourForcePercent": 88.40000153,
  "womanSeniorOfficialsPercent": 12.56038647,
  "manSeniorOfficialsPercent": 87.92270531,
  "womanMpPercent": 7.5,
  "manMpPercent": 92.5,
  "womanMinistersPercent": 4.545454545,
  "manMinistersPercent": 95.45454545
 },
 "Bangladesh": {
  "countryName": "Bangladesh",
  "countryNameTranslation": "<%= Bangladesh %>",
  "rank": 64,
  "currency": "&#36;",
  "womanDegree": "41.76044",
  "manDegree": "58.23956",
  "womanLabourForcePercent": 60.40000153,
  "manLabourForcePercent": 86.59999847,
  "womanSeniorOfficialsPercent": 5.387158169,
  "manSeniorOfficialsPercent": 94.61284183,
  "womanMpPercent": 20,
  "manMpPercent": 80,
  "womanMinistersPercent": 6.666666667,
  "manMinistersPercent": 93.33333333
 },
 "Barbados": {
  "countryName": "Barbados",
  "countryNameTranslation": "<%= Barbados %>",
  "rank": 24,
  "currency": "&#36;",
  "womanDegree": "68.39682",
  "manDegree": "31.60318",
  "womanLabourForcePercent": 76.59999847,
  "manLabourForcePercent": 84.90000153,
  "womanSeniorOfficialsPercent": 48.24561404,
  "manSeniorOfficialsPercent": 50.87719298,
  "womanMpPercent": 16.66666667,
  "manMpPercent": 83.33333333,
  "womanMinistersPercent": 11.76470588,
  "manMinistersPercent": 88.23529412
 },
 "Belarus": {
  "countryName": "Belarus",
  "countryNameTranslation": "<%= Belarus %>",
  "rank": 34,
  "currency": "&#36;",
  "womanDegree": "60.80428",
  "manDegree": "39.19572",
  "womanLabourForcePercent": 62.20000076,
  "manLabourForcePercent": 70.19999695,
  "womanSeniorOfficialsPercent": 46.25700221,
  "manSeniorOfficialsPercent": 53.75997284,
  "womanMpPercent": 27.27272727,
  "manMpPercent": 72.72727273,
  "womanMinistersPercent": 10.71428571,
  "manMinistersPercent": 89.28571429
 },
 "Belgium": {
  "countryName": "Belgium",
  "countryNameTranslation": "<%= Belgium %>",
  "rank": 19,
  "currency": "&#128;",
  "womanSalaryDiff": 0.936,
  "womanDegree": "59.30501",
  "manDegree": "40.69499",
  "womanLabourForcePercent": 62.09999847,
  "manLabourForcePercent": 72.5,
  "womanSeniorOfficialsPercent": 31.65301945,
  "manSeniorOfficialsPercent": 68.34698055,
  "womanMpPercent": 39.33333333,
  "manMpPercent": 60.66666667,
  "womanMinistersPercent": 23.07692308,
  "manMinistersPercent": 76.92307692
 },
 "Belize": {
  "countryName": "Belize",
  "countryNameTranslation": "<%= Belize %>",
  "rank": 103,
  "currency": "&#36;",
  "womanDegree": "62.52101",
  "manDegree": "37.47899",
  "womanLabourForcePercent": 51.90000153,
  "manLabourForcePercent": 84.69999695,
  "womanSeniorOfficialsPercent": 41.37931034,
  "manSeniorOfficialsPercent": 58.62068966,
  "womanMpPercent": 3.125,
  "manMpPercent": 96.875,
  "womanMinistersPercent": 13.33333333,
  "manMinistersPercent": 86.66666667
 },
 "Benin": {
  "countryName": "Benin",
  "countryNameTranslation": "<%= Benin %>",
  "rank": 129,
  "currency": "&#36;",
  "womanDegree": "29.65955",
  "manDegree": "70.34045",
  "womanLabourForcePercent": 68.90000153,
  "manLabourForcePercent": 78.59999847,
  "womanMpPercent": 7.228915663,
  "manMpPercent": 92.77108434,
  "womanMinistersPercent": 14.81481481,
  "manMinistersPercent": 85.18518519
 },
 "Bhutan": {
  "countryName": "Bhutan",
  "countryNameTranslation": "<%= Bhutan %>",
  "rank": 118,
  "currency": "&#36;",
  "womanDegree": "34.19276",
  "manDegree": "65.80724",
  "womanLabourForcePercent": 69.09999847,
  "manLabourForcePercent": 79.5,
  "womanSeniorOfficialsPercent": 16.92307692,
  "manSeniorOfficialsPercent": 83.07692308,
  "womanMpPercent": 8.510638298,
  "manMpPercent": 91.4893617,
  "womanMinistersPercent": 10,
  "manMinistersPercent": 90
 },
 "Bolivia": {
  "countryName": "Bolivia",
  "countryNameTranslation": "<%= Bolivia %>",
  "rank": 22,
  "currency": "&#36;",
  "womanLabourForcePercent": 66.19999695,
  "manLabourForcePercent": 82.30000305,
  "womanSeniorOfficialsPercent": 35.02202643,
  "manSeniorOfficialsPercent": 64.97797357,
  "womanMpPercent": 53.07692308,
  "manMpPercent": 46.92307692,
  "womanMinistersPercent": 28.57142857,
  "manMinistersPercent": 71.42857143
 },
 "Botswana": {
  "countryName": "Botswana",
  "countryNameTranslation": "<%= Botswana %>",
  "rank": 55,
  "currency": "&#36;",
  "womanLabourForcePercent": 75,
  "manLabourForcePercent": 82.69999695,
  "womanSeniorOfficialsPercent": 38.65979381,
  "manSeniorOfficialsPercent": 61.34020619,
  "womanMpPercent": 9.523809524,
  "manMpPercent": 90.47619048,
  "womanMinistersPercent": 12.5,
  "manMinistersPercent": 87.5
 },
 "Brazil": {
  "countryName": "Brazil",
  "countryNameTranslation": "<%= Brazil %>",
  "rank": 85,
  "currency": "&#36;",
  "womanDegree": "60.822",
  "manDegree": "39.178",
  "womanLabourForcePercent": 65,
  "manLabourForcePercent": 85.30000305,
  "womanSeniorOfficialsPercent": 37.49847839,
  "manSeniorOfficialsPercent": 62.50152161,
  "womanMpPercent": 9.941520468,
  "manMpPercent": 90.05847953,
  "womanMinistersPercent": 15.38461538,
  "manMinistersPercent": 84.61538462
 },
 "Brunei": {
  "countryName": "Brunei",
  "countryNameTranslation": "<%= Brunei %>",
  "rank": 88,
  "currency": "&#36;",
  "womanDegree": "64.05434",
  "manDegree": "35.94566",
  "womanLabourForcePercent": 55.70000076,
  "manLabourForcePercent": 78.90000153,
  "womanSeniorOfficialsPercent": 34.02777778,
  "manSeniorOfficialsPercent": 65.97222222,
  "manMinistersPercent": 100
 },
 "Bulgaria": {
  "countryName": "Bulgaria",
  "countryNameTranslation": "<%= Bulgaria %>",
  "rank": 43,
  "currency": "&#128;",
  "womanDegree": "60.83225",
  "manDegree": "39.16775",
  "womanLabourForcePercent": 63.70000076,
  "manLabourForcePercent": 71.5,
  "womanSeniorOfficialsPercent": 36.68449198,
  "manSeniorOfficialsPercent": 63.31550802,
  "womanMpPercent": 20.41666667,
  "manMpPercent": 79.58333333,
  "womanMinistersPercent": 35,
  "manMinistersPercent": 65
 },
 "Burkina Faso": {
  "countryName": "Burkina Faso",
  "countryNameTranslation": "<%= Burkina_Faso %>",
  "rank": 114,
  "currency": "&#36;",
  "womanDegree": "31.76893",
  "manDegree": "68.23107",
  "womanLabourForcePercent": 79.5,
  "manLabourForcePercent": 90.80000305,
  "womanMpPercent": 13.33333333,
  "manMpPercent": 86.66666667,
  "womanMinistersPercent": 12.5,
  "manMinistersPercent": 87.5
 },
 "Burundi": {
  "countryName": "Burundi",
  "countryNameTranslation": "<%= Burundi %>",
  "rank": 23,
  "currency": "&#36;",
  "womanDegree": "30.7219",
  "manDegree": "69.2781",
  "womanLabourForcePercent": 84.40000153,
  "manLabourForcePercent": 82.80000305,
  "womanMpPercent": 36.36363636,
  "manMpPercent": 63.63636364,
  "womanMinistersPercent": 34.7826087,
  "manMinistersPercent": 65.2173913
 },
 "Cambodia": {
  "countryName": "Cambodia",
  "countryNameTranslation": "<%= Cambodia %>",
  "rank": 109,
  "currency": "&#36;",
  "womanDegree": "41.5048",
  "manDegree": "58.4952",
  "womanLabourForcePercent": 82.09999847,
  "manLabourForcePercent": 88,
  "womanSeniorOfficialsPercent": 18.04511278,
  "manSeniorOfficialsPercent": 81.95488722,
  "womanMpPercent": 20.32520325,
  "manMpPercent": 79.67479675,
  "womanMinistersPercent": 6.976744186,
  "manMinistersPercent": 93.02325581
 },
 "Cameroon": {
  "countryName": "Cameroon",
  "countryNameTranslation": "<%= Cameroon %>",
  "rank": 90,
  "currency": "&#36;",
  "womanLabourForcePercent": 65.40000153,
  "manLabourForcePercent": 77,
  "womanMpPercent": 31.11111111,
  "manMpPercent": 68.88888889,
  "womanMinistersPercent": 14,
  "manMinistersPercent": 86
 },
 "Canada": {
  "countryName": "Canada",
  "countryNameTranslation": "<%= Canada %>",
  "rank": 30,
  "currency": "&#36;",
  "womanSalaryDiff": 0.81,
  "womanLabourForcePercent": 74.5,
  "manLabourForcePercent": 81.59999847,
  "womanSeniorOfficialsPercent": 35.76984979,
  "manSeniorOfficialsPercent": 64.22344421,
  "womanMpPercent": 25.32894737,
  "manMpPercent": 74.67105263,
  "womanMinistersPercent": 30.76923077,
  "manMinistersPercent": 69.23076923
 },
 "Cape Verde": {
  "countryName": "Cape Verde",
  "countryNameTranslation": "<%= Cape_Verde %>",
  "rank": 50,
  "currency": "&#36;",
  "womanLabourForcePercent": 55.70000076,
  "manLabourForcePercent": 86.40000153,
  "womanMpPercent": 20.83333333,
  "manMpPercent": 79.16666667,
  "womanMinistersPercent": 52.94117647,
  "manMinistersPercent": 47.05882353
 },
 "Chad": {
  "countryName": "Chad",
  "countryNameTranslation": "<%= Chad %>",
  "rank": 142,
  "currency": "&#36;",
  "womanLabourForcePercent": 64.59999847,
  "manLabourForcePercent": 79.19999695,
  "womanMpPercent": 14.89361702,
  "manMpPercent": 85.10638298,
  "womanMinistersPercent": 13.63636364,
  "manMinistersPercent": 86.36363636
 },
 "Chile": {
  "countryName": "Chile",
  "countryNameTranslation": "<%= Chile %>",
  "rank": 73,
  "currency": "&#36;",
  "womanSalaryDiff": 0.84,
  "womanDegree": "56.04375",
  "manDegree": "43.95625",
  "womanLabourForcePercent": 55.29999924,
  "manLabourForcePercent": 79.59999847,
  "womanSeniorOfficialsPercent": 29.49756888,
  "manSeniorOfficialsPercent": 70.50243112,
  "womanMpPercent": 15.83333333,
  "manMpPercent": 84.16666667,
  "womanMinistersPercent": 34.7826087,
  "manMinistersPercent": 65.2173913
 },
 "China": {
  "countryName": "China",
  "countryNameTranslation": "<%= China %>",
  "rank": 91,
  "currency": "&#36;",
  "womanDegree": "50.72862",
  "manDegree": "49.27138",
  "womanLabourForcePercent": 70.19999695,
  "manLabourForcePercent": 84,
  "womanSeniorOfficialsPercent": 16.752411,
  "manSeniorOfficialsPercent": 83.247589,
  "womanMpPercent": 23.62284556,
  "manMpPercent": 76.37715444,
  "womanMinistersPercent": 11.53846154,
  "manMinistersPercent": 88.46153846
 },
 "Colombia": {
  "countryName": "Colombia",
  "countryNameTranslation": "<%= Colombia %>",
  "rank": 42,
  "currency": "&#36;",
  "womanDegree": "55.3048",
  "manDegree": "44.6952",
  "womanLabourForcePercent": 59.70000076,
  "manLabourForcePercent": 82.40000153,
  "womanSeniorOfficialsPercent": 53.11872983,
  "manSeniorOfficialsPercent": 46.88127017,
  "womanMpPercent": 19.87951807,
  "manMpPercent": 80.12048193,
  "womanMinistersPercent": 29.41176471,
  "manMinistersPercent": 70.58823529
 },
 "Costa Rica": {
  "countryName": "Costa Rica",
  "countryNameTranslation": "<%= Costa_Rica %>",
  "rank": 38,
  "currency": "&#36;",
  "womanDegree": "63.19237",
  "manDegree": "36.80763",
  "womanLabourForcePercent": 51,
  "manLabourForcePercent": 84,
  "womanSeniorOfficialsPercent": 36.26373626,
  "manSeniorOfficialsPercent": 63.91941392,
  "womanMpPercent": 33.33333333,
  "manMpPercent": 66.66666667,
  "womanMinistersPercent": 40.90909091,
  "manMinistersPercent": 59.09090909
 },
 "Croatia": {
  "countryName": "Croatia",
  "countryNameTranslation": "<%= Croatia %>",
  "rank": 59,
  "currency": "&#128;",
  "womanDegree": "59.27675",
  "manDegree": "40.72325",
  "womanLabourForcePercent": 58.40000153,
  "manLabourForcePercent": 69.5,
  "womanSeniorOfficialsPercent": 23.14165498,
  "manSeniorOfficialsPercent": 76.85834502,
  "womanMpPercent": 25.82781457,
  "manMpPercent": 74.17218543,
  "womanMinistersPercent": 20,
  "manMinistersPercent": 80
 },
 "Cuba": {
  "countryName": "Cuba",
  "countryNameTranslation": "<%= Cuba %>",
  "rank": 29,
  "currency": "&#36;",
  "womanDegree": "62.57212",
  "manDegree": "37.42788",
  "womanLabourForcePercent": 51.70000076,
  "manLabourForcePercent": 79.80000305,
  "womanSeniorOfficialsPercent": 38.14137065,
  "manSeniorOfficialsPercent": 61.89451023,
  "womanMpPercent": 48.85620915,
  "manMpPercent": 51.14379085,
  "womanMinistersPercent": 31.03448276,
  "manMinistersPercent": 68.96551724
 },
 "Cyprus": {
  "countryName": "Cyprus",
  "countryNameTranslation": "<%= Cyprus %>",
  "rank": 100,
  "currency": "&#128;",
  "womanDegree": "60.34343",
  "manDegree": "39.65657",
  "womanLabourForcePercent": 66,
  "manLabourForcePercent": 79.5,
  "womanSeniorOfficialsPercent": 17.36111111,
  "manSeniorOfficialsPercent": 82.63888889,
  "womanMpPercent": 12.5,
  "manMpPercent": 87.5,
  "womanMinistersPercent": 9.090909091,
  "manMinistersPercent": 90.90909091
 },
 "Czech Republic": {
  "countryName": "Czech Republic",
  "countryNameTranslation": "<%= Czech_Republic %>",
  "rank": 81,
  "currency": "&#36;",
  "womanSalaryDiff": 0.845,
  "womanDegree": "62.18905",
  "manDegree": "37.81095",
  "womanLabourForcePercent": 64.90000153,
  "manLabourForcePercent": 80.40000153,
  "womanSeniorOfficialsPercent": 27.86438036,
  "manSeniorOfficialsPercent": 72.13561964,
  "womanMpPercent": 20,
  "manMpPercent": 80,
  "womanMinistersPercent": 18.75,
  "manMinistersPercent": 81.25
 },
 "Denmark": {
  "countryName": "Denmark",
  "countryNameTranslation": "<%= Denmark %>",
  "rank": 14,
  "currency": "&#128;",
  "womanSalaryDiff": 0.922,
  "womanDegree": "57.49169",
  "manDegree": "42.50831",
  "womanLabourForcePercent": 75.5,
  "manLabourForcePercent": 80.5,
  "womanSeniorOfficialsPercent": 26.28865979,
  "manSeniorOfficialsPercent": 73.71134021,
  "womanMpPercent": 37.4301676,
  "manMpPercent": 62.5698324,
  "womanMinistersPercent": 26.31578947,
  "manMinistersPercent": 73.68421053
 },
 "Dominican Republic": {
  "countryName": "Dominican Republic",
  "countryNameTranslation": "<%= Dominican_Republic %>",
  "rank": 86,
  "currency": "&#36;",
  "womanDegree": "64.12901",
  "manDegree": "35.87099",
  "womanLabourForcePercent": 55.70000076,
  "manLabourForcePercent": 82.69999695,
  "womanSeniorOfficialsPercent": 37.00331126,
  "manSeniorOfficialsPercent": 62.99668874,
  "womanMpPercent": 20.76502732,
  "manMpPercent": 79.23497268,
  "womanMinistersPercent": 19.23076923,
  "manMinistersPercent": 80.76923077
 },
 "Ecuador": {
  "countryName": "Ecuador",
  "countryNameTranslation": "<%= Ecuador %>",
  "rank": 33,
  "currency": "&#36;",
  "womanDegree": "58.50686",
  "manDegree": "41.49314",
  "womanLabourForcePercent": 57.79999924,
  "manLabourForcePercent": 85.5,
  "womanSeniorOfficialsPercent": 35.95890411,
  "manSeniorOfficialsPercent": 64.15525114,
  "womanMpPercent": 41.60583942,
  "manMpPercent": 58.39416058,
  "womanMinistersPercent": 23.68421053,
  "manMinistersPercent": 76.31578947
 },
 "Egypt": {
  "countryName": "Egypt",
  "countryNameTranslation": "<%= Egypt %>",
  "rank": 136,
  "currency": "&#36;",
  "womanDegree": "52.08391",
  "manDegree": "47.91609",
  "womanLabourForcePercent": 25.79999924,
  "manLabourForcePercent": 79.09999847,
  "womanSeniorOfficialsPercent": 7.122404159,
  "manSeniorOfficialsPercent": 92.87481582,
  "womanMinistersPercent": 11.76470588,
  "manMinistersPercent": 88.23529412
 },
 "El Salvador": {
  "countryName": "El Salvador",
  "countryNameTranslation": "<%= El_Salvador %>",
  "rank": 62,
  "currency": "&#36;",
  "womanDegree": "56.58157",
  "manDegree": "43.41843",
  "womanLabourForcePercent": 51.09999847,
  "manLabourForcePercent": 82.19999695,
  "womanSeniorOfficialsPercent": 43.52030948,
  "manSeniorOfficialsPercent": 56.47969052,
  "womanMpPercent": 32.14285714,
  "manMpPercent": 67.85714286,
  "womanMinistersPercent": 21.42857143,
  "manMinistersPercent": 78.57142857
 },
 "Estonia": {
  "countryName": "Estonia",
  "countryNameTranslation": "<%= Estonia %>",
  "rank": 21,
  "currency": "&#128;",
  "womanDegree": "67.46524",
  "manDegree": "32.53476",
  "womanLabourForcePercent": 71.90000153,
  "manLabourForcePercent": 78.90000153,
  "womanSeniorOfficialsPercent": 32.50366032,
  "manSeniorOfficialsPercent": 67.34992679,
  "womanMpPercent": 23.76237624,
  "manMpPercent": 76.23762376,
  "womanMinistersPercent": 46.15384615,
  "manMinistersPercent": 53.84615385
 },
 "Ethiopia": {
  "countryName": "Ethiopia",
  "countryNameTranslation": "<%= Ethiopia %>",
  "rank": 124,
  "currency": "&#36;",
  "womanDegree": "28.70186",
  "manDegree": "71.29814",
  "womanLabourForcePercent": 80.90000153,
  "manLabourForcePercent": 90.19999695,
  "womanSeniorOfficialsPercent": 26.51384083,
  "manSeniorOfficialsPercent": 73.48615917,
  "womanMpPercent": 38.82783883,
  "manMpPercent": 61.17216117,
  "womanMinistersPercent": 12.5,
  "manMinistersPercent": 87.5
 },
 "Fiji": {
  "countryName": "Fiji",
  "countryNameTranslation": "<%= Fiji %>",
  "rank": 121,
  "currency": "&#36;",
  "womanLabourForcePercent": 39.29999924,
  "manLabourForcePercent": 74.30000305,
  "womanSeniorOfficialsPercent": 51,
  "manSeniorOfficialsPercent": 49,
  "womanMpPercent": 16,
  "manMpPercent": 84,
  "womanMinistersPercent": 13.33333333,
  "manMinistersPercent": 86.66666667
 },
 "Finland": {
  "countryName": "Finland",
  "countryNameTranslation": "<%= Finland %>",
  "rank": 3,
  "currency": "&#128;",
  "womanSalaryDiff": 0.813,
  "womanDegree": "60.13086",
  "manDegree": "39.86914",
  "womanLabourForcePercent": 73.40000153,
  "manLabourForcePercent": 77.5,
  "womanSeniorOfficialsPercent": 33.63499246,
  "manSeniorOfficialsPercent": 66.21417798,
  "womanMpPercent": 41.5,
  "manMpPercent": 58.5,
  "womanMinistersPercent": 62.5,
  "manMinistersPercent": 37.5
 },
 "France": {
  "countryName": "France",
  "countryNameTranslation": "<%= France %>",
  "rank": 15,
  "currency": "&#128;",
  "womanSalaryDiff": 0.859,
  "womanDegree": "56.11928",
  "manDegree": "43.88072",
  "womanLabourForcePercent": 66.59999847,
  "manLabourForcePercent": 75.30000305,
  "womanSeniorOfficialsPercent": 32.65023539,
  "manSeniorOfficialsPercent": 67.34976461,
  "womanMpPercent": 26.16984402,
  "manMpPercent": 73.83015598,
  "womanMinistersPercent": 50,
  "manMinistersPercent": 50
 },
 "Georgia": {
  "countryName": "Georgia",
  "countryNameTranslation": "<%= Georgia %>",
  "rank": 82,
  "currency": "&#36;",
  "womanDegree": "56.83425",
  "manDegree": "43.16575",
  "womanLabourForcePercent": 60.59999847,
  "manLabourForcePercent": 78.80000305,
  "womanSeniorOfficialsPercent": 33.99339934,
  "manSeniorOfficialsPercent": 66.17161716,
  "womanMpPercent": 11.33333333,
  "manMpPercent": 88.66666667,
  "womanMinistersPercent": 15.78947368,
  "manMinistersPercent": 84.21052632
 },
 "Germany": {
  "countryName": "Germany",
  "countryNameTranslation": "<%= Germany %>",
  "rank": 11,
  "currency": "&#128;",
  "womanLabourForcePercent": 72,
  "manLabourForcePercent": 82.69999695,
  "womanSeniorOfficialsPercent": 28.99518823,
  "manSeniorOfficialsPercent": 71.00481177,
  "womanMpPercent": 36.45007924,
  "manMpPercent": 63.54992076,
  "womanMinistersPercent": 33.33333333,
  "manMinistersPercent": 66.66666667
 },
 "Ghana": {
  "countryName": "Ghana",
  "countryNameTranslation": "<%= Ghana %>",
  "rank": 63,
  "currency": "&#36;",
  "womanDegree": "40.71334",
  "manDegree": "59.28666",
  "womanLabourForcePercent": 68.90000153,
  "manLabourForcePercent": 72,
  "womanSeniorOfficialsPercent": 50.03996803,
  "manSeniorOfficialsPercent": 49.92006395,
  "womanMpPercent": 10.90909091,
  "manMpPercent": 89.09090909,
  "womanMinistersPercent": 23.07692308,
  "manMinistersPercent": 76.92307692
 },
 "Greece": {
  "countryName": "Greece",
  "countryNameTranslation": "<%= Greece %>",
  "rank": 87,
  "currency": "&#128;",
  "womanSalaryDiff": 0.931,
  "womanDegree": "59.05658",
  "manDegree": "40.94342",
  "womanLabourForcePercent": 58.59999847,
  "manLabourForcePercent": 77.5,
  "womanSeniorOfficialsPercent": 28.304705,
  "manSeniorOfficialsPercent": 71.695295,
  "womanMpPercent": 23,
  "manMpPercent": 77,
  "womanMinistersPercent": 10,
  "manMinistersPercent": 90
 },
 "Guatemala": {
  "countryName": "Guatemala",
  "countryNameTranslation": "<%= Guatemala %>",
  "rank": 106,
  "currency": "&#36;",
  "womanDegree": "58.31693",
  "manDegree": "41.68307",
  "womanLabourForcePercent": 51.29999924,
  "manLabourForcePercent": 90.09999847,
  "womanSeniorOfficialsPercent": 34.21501706,
  "manSeniorOfficialsPercent": 65.78498294,
  "womanMpPercent": 13.29113924,
  "manMpPercent": 86.70886076,
  "womanMinistersPercent": 20,
  "manMinistersPercent": 80
 },
 "Guinea": {
  "countryName": "Guinea",
  "countryNameTranslation": "<%= Guinea %>",
  "rank": 131,
  "currency": "&#36;",
  "womanLabourForcePercent": 67.19999695,
  "manLabourForcePercent": 79.5,
  "womanSeniorOfficialsPercent": 23.52941176,
  "manSeniorOfficialsPercent": 75.49019608,
  "womanMpPercent": 21.92982456,
  "manMpPercent": 78.07017544,
  "womanMinistersPercent": 14.70588235,
  "manMinistersPercent": 85.29411765
 },
 "Guyana": {
  "countryName": "Guyana",
  "countryNameTranslation": "<%= Guyana %>",
  "rank": 66,
  "currency": "&#36;",
  "womanDegree": "74.86398",
  "manDegree": "25.13602",
  "womanLabourForcePercent": 44.70000076,
  "manLabourForcePercent": 82.5,
  "womanSeniorOfficialsPercent": 26.15384615,
  "manSeniorOfficialsPercent": 75.38461538,
  "womanMpPercent": 30.43478261,
  "manMpPercent": 69.56521739,
  "womanMinistersPercent": 29.41176471,
  "manMinistersPercent": 70.58823529
 },
 "Honduras": {
  "countryName": "Honduras",
  "countryNameTranslation": "<%= Honduras %>",
  "rank": 80,
  "currency": "&#36;",
  "womanDegree": "63.08459",
  "manDegree": "36.91541",
  "womanLabourForcePercent": 44.70000076,
  "manLabourForcePercent": 84.59999847,
  "womanSeniorOfficialsPercent": 40.55232558,
  "manSeniorOfficialsPercent": 59.44767442,
  "womanMpPercent": 25.78125,
  "manMpPercent": 74.21875,
  "womanMinistersPercent": 17.39130435,
  "manMinistersPercent": 82.60869565
 },
 "Hungary": {
  "countryName": "Hungary",
  "countryNameTranslation": "<%= Hungary %>",
  "rank": 99,
  "currency": "&#36;",
  "womanSalaryDiff": 0.913,
  "womanDegree": "63.95154",
  "manDegree": "36.04846",
  "womanLabourForcePercent": 58.40000153,
  "manLabourForcePercent": 70.40000153,
  "womanSeniorOfficialsPercent": 39.82965932,
  "manSeniorOfficialsPercent": 60.17034068,
  "womanMpPercent": 10.1010101,
  "manMpPercent": 89.8989899,
  "manMinistersPercent": 100
 },
 "Iceland": {
  "countryName": "Iceland",
  "countryNameTranslation": "<%= Iceland %>",
  "rank": 1,
  "currency": "&#128;",
  "womanSalaryDiff": 0.859,
  "womanDegree": "64.45475",
  "manDegree": "35.54525",
  "womanLabourForcePercent": 82.30000305,
  "manLabourForcePercent": 86.5,
  "womanSeniorOfficialsPercent": 37.05882353,
  "manSeniorOfficialsPercent": 62.94117647,
  "womanMpPercent": 41.26984127,
  "manMpPercent": 58.73015873,
  "womanMinistersPercent": 44.44444444,
  "manMinistersPercent": 55.55555556
 },
 "India": {
  "countryName": "India",
  "countryNameTranslation": "<%= India %>",
  "rank": 108,
  "currency": "&#36;",
  "womanLabourForcePercent": 28.5,
  "manLabourForcePercent": 82.5,
  "womanMpPercent": 11.97053407,
  "manMpPercent": 88.02946593,
  "womanMinistersPercent": 22.22222222,
  "manMinistersPercent": 77.77777778
 },
 "Indonesia": {
  "countryName": "Indonesia",
  "countryNameTranslation": "<%= Indonesia %>",
  "rank": 92,
  "currency": "&#36;",
  "womanLabourForcePercent": 53.5,
  "manLabourForcePercent": 86.30000305,
  "womanSeniorOfficialsPercent": 23.15215649,
  "manSeniorOfficialsPercent": 76.84784351,
  "womanMpPercent": 17.11711712,
  "manMpPercent": 82.88288288,
  "womanMinistersPercent": 22.85714286,
  "manMinistersPercent": 77.14285714
 },
 "Iran": {
  "countryName": "Iran",
  "countryNameTranslation": "<%= Iran %>",
  "rank": 141,
  "currency": "&#36;",
  "womanDegree": "45.62978",
  "manDegree": "54.37022",
  "womanLabourForcePercent": 17.60000038,
  "manLabourForcePercent": 76.69999695,
  "womanSeniorOfficialsPercent": 14.59839357,
  "manSeniorOfficialsPercent": 85.3815261,
  "womanMpPercent": 3.103448276,
  "manMpPercent": 96.89655172,
  "womanMinistersPercent": 10,
  "manMinistersPercent": 90
 },
 "Ireland": {
  "countryName": "Ireland",
  "countryNameTranslation": "<%= Ireland %>",
  "rank": 5,
  "currency": "&#128;",
  "womanSalaryDiff": 0.872,
  "womanDegree": "54.54833",
  "manDegree": "45.45167",
  "womanLabourForcePercent": 62.59999847,
  "manLabourForcePercent": 76.90000153,
  "womanSeniorOfficialsPercent": 33.8370565,
  "manSeniorOfficialsPercent": 66.22864652,
  "womanMpPercent": 16.26506024,
  "manMpPercent": 83.73493976,
  "womanMinistersPercent": 28.57142857,
  "manMinistersPercent": 71.42857143
 },
 "Israel": {
  "countryName": "Israel",
  "countryNameTranslation": "<%= Israel %>",
  "rank": 53,
  "currency": "&#36;",
  "womanSalaryDiff": 0.782,
  "womanLabourForcePercent": 67,
  "manLabourForcePercent": 75.80000305,
  "womanSeniorOfficialsPercent": 32.64833575,
  "manSeniorOfficialsPercent": 67.35166425,
  "womanMpPercent": 24.16666667,
  "manMpPercent": 75.83333333,
  "womanMinistersPercent": 18.18181818,
  "manMinistersPercent": 81.81818182
 },
 "Italy": {
  "countryName": "Italy",
  "countryNameTranslation": "<%= Italy %>",
  "rank": 41,
  "currency": "&#128;",
  "womanSalaryDiff": 0.889,
  "womanDegree": "62.26126",
  "manDegree": "37.73874",
  "womanLabourForcePercent": 53.70000076,
  "manLabourForcePercent": 74.09999847,
  "womanSeniorOfficialsPercent": 26.57957245,
  "manSeniorOfficialsPercent": 73.42042755,
  "womanMpPercent": 30.95238095,
  "manMpPercent": 69.04761905,
  "womanMinistersPercent": 43.75,
  "manMinistersPercent": 56.25
 },
 "Ivory Coast": {
  "countryName": "Ivory Coast",
  "countryNameTranslation": "<%= Ivory_Coast %>",
  "rank": 133,
  "currency": "&#36;",
  "womanLabourForcePercent": 53.09999847,
  "manLabourForcePercent": 82,
  "womanMpPercent": 9.163346614,
  "manMpPercent": 90.83665339,
  "womanMinistersPercent": 16.66666667,
  "manMinistersPercent": 83.33333333
 },
 "Jamaica": {
  "countryName": "Jamaica",
  "countryNameTranslation": "<%= Jamaica %>",
  "rank": 65,
  "currency": "&#36;",
  "womanLabourForcePercent": 61.5,
  "manLabourForcePercent": 74.30000305,
  "womanMpPercent": 12.6984127,
  "manMpPercent": 87.3015873,
  "womanMinistersPercent": 20,
  "manMinistersPercent": 80
 },
 "Japan": {
  "countryName": "Japan",
  "countryNameTranslation": "<%= Japan %>",
  "rank": 101,
  "currency": "&#36;",
  "womanSalaryDiff": 0.734,
  "womanDegree": "48.30462",
  "manDegree": "51.69538",
  "womanLabourForcePercent": 65.09999847,
  "manLabourForcePercent": 84.59999847,
  "womanSeniorOfficialsPercent": 9.302325581,
  "manSeniorOfficialsPercent": 90.69767442,
  "womanMpPercent": 9.473684211,
  "manMpPercent": 90.52631579,
  "womanMinistersPercent": 22.22222222,
  "manMinistersPercent": 77.77777778
 },
 "Jordan": {
  "countryName": "Jordan",
  "countryNameTranslation": "<%= Jordan %>",
  "rank": 140,
  "currency": "&#36;",
  "womanDegree": "46.79578",
  "manDegree": "53.20422",
  "womanLabourForcePercent": 16.39999962,
  "manLabourForcePercent": 69.59999847,
  "womanSeniorOfficialsPercent": 8.333333333,
  "manSeniorOfficialsPercent": 91.66666667,
  "womanMpPercent": 12,
  "manMpPercent": 88,
  "womanMinistersPercent": 11.11111111,
  "manMinistersPercent": 88.88888889
 },
 "Kazakhstan": {
  "countryName": "Kazakhstan",
  "countryNameTranslation": "<%= Kazakhstan %>",
  "rank": 47,
  "currency": "&#36;",
  "womanDegree": "56.25808",
  "manDegree": "43.74192",
  "womanLabourForcePercent": 75.09999847,
  "manLabourForcePercent": 82.40000153,
  "womanSeniorOfficialsPercent": 38.31816212,
  "manSeniorOfficialsPercent": 61.68183788,
  "womanMpPercent": 26.1682243,
  "manMpPercent": 73.8317757,
  "womanMinistersPercent": 13.33333333,
  "manMinistersPercent": 86.66666667
 },
 "Kenya": {
  "countryName": "Kenya",
  "countryNameTranslation": "<%= Kenya %>",
  "rank": 48,
  "currency": "&#36;",
  "womanLabourForcePercent": 62.90000153,
  "manLabourForcePercent": 72.90000153,
  "womanMpPercent": 19.71428571,
  "manMpPercent": 80.28571429,
  "womanMinistersPercent": 30,
  "manMinistersPercent": 70
 },
 "Kuwait": {
  "countryName": "Kuwait",
  "countryNameTranslation": "<%= Kuwait %>",
  "rank": 117,
  "currency": "&#36;",
  "womanDegree": "58.28091",
  "manDegree": "41.71909",
  "womanLabourForcePercent": 45.09999847,
  "manLabourForcePercent": 84.90000153,
  "womanSeniorOfficialsPercent": 13.85281385,
  "manSeniorOfficialsPercent": 86.14718615,
  "womanMpPercent": 1.538461538,
  "manMpPercent": 98.46153846,
  "womanMinistersPercent": 6.666666667,
  "manMinistersPercent": 93.33333333
 },
 "Kyrgyzstan": {
  "countryName": "Kyrgyzstan",
  "countryNameTranslation": "<%= Kyrgyzstan %>",
  "rank": 76,
  "currency": "&#36;",
  "womanDegree": "60.13379",
  "manDegree": "39.86621",
  "womanLabourForcePercent": 59.59999847,
  "manLabourForcePercent": 82.5,
  "womanSeniorOfficialsPercent": 27.66798419,
  "manSeniorOfficialsPercent": 72.72727273,
  "womanMpPercent": 23.33333333,
  "manMpPercent": 76.66666667,
  "womanMinistersPercent": 15,
  "manMinistersPercent": 85
 },
 "Laos": {
  "countryName": "Laos",
  "countryNameTranslation": "<%= Laos %>",
  "rank": 52,
  "currency": "&#36;",
  "womanDegree": "45.3884",
  "manDegree": "54.6116",
  "womanLabourForcePercent": 80,
  "manLabourForcePercent": 81.09999847,
  "womanMpPercent": 25,
  "manMpPercent": 75,
  "womanMinistersPercent": 10.34482759,
  "manMinistersPercent": 89.65517241
 },
 "Latvia": {
  "countryName": "Latvia",
  "countryNameTranslation": "<%= Latvia %>",
  "rank": 20,
  "currency": "&#128;",
  "womanDegree": "68.99584",
  "manDegree": "31.00416",
  "womanLabourForcePercent": 72.5,
  "manLabourForcePercent": 78,
  "womanSeniorOfficialsPercent": 44.07744875,
  "manSeniorOfficialsPercent": 55.92255125,
  "womanMpPercent": 18,
  "manMpPercent": 82,
  "womanMinistersPercent": 23.07692308,
  "manMinistersPercent": 76.92307692
 },
 "Lebanon": {
  "countryName": "Lebanon",
  "countryNameTranslation": "<%= Lebanon %>",
  "rank": 138,
  "currency": "&#36;",
  "womanDegree": "55.82511",
  "manDegree": "44.17489",
  "womanLabourForcePercent": 25.89999962,
  "manLabourForcePercent": 76.09999847,
  "womanSeniorOfficialsPercent": 8.43373494,
  "manSeniorOfficialsPercent": 91.56626506,
  "womanMpPercent": 3.125,
  "manMpPercent": 96.875,
  "womanMinistersPercent": 4.347826087,
  "manMinistersPercent": 95.65217391
 },
 "Lesotho": {
  "countryName": "Lesotho",
  "countryNameTranslation": "<%= Lesotho %>",
  "rank": 61,
  "currency": "&#36;",
  "womanDegree": "65.2412",
  "manDegree": "34.7588",
  "womanLabourForcePercent": 60.29999924,
  "manLabourForcePercent": 74.59999847,
  "womanSeniorOfficialsPercent": 36.47058824,
  "manSeniorOfficialsPercent": 64.70588235,
  "womanMpPercent": 25,
  "manMpPercent": 75,
  "womanMinistersPercent": 21.73913043,
  "manMinistersPercent": 78.26086957
 },
 "Liberia": {
  "countryName": "Liberia",
  "countryNameTranslation": "<%= Liberia %>",
  "rank": 112,
  "currency": "&#36;",
  "womanDegree": "38.1549",
  "manDegree": "61.8451",
  "womanLabourForcePercent": 59.5,
  "manLabourForcePercent": 65.09999847,
  "womanSeniorOfficialsPercent": 21.42857143,
  "manSeniorOfficialsPercent": 78.57142857,
  "womanMpPercent": 10.95890411,
  "manMpPercent": 89.04109589,
  "womanMinistersPercent": 20,
  "manMinistersPercent": 80
 },
 "Lithuania": {
  "countryName": "Lithuania",
  "countryNameTranslation": "<%= Lithuania %>",
  "rank": 31,
  "currency": "&#128;",
  "womanDegree": "63.3363",
  "manDegree": "36.6637",
  "womanLabourForcePercent": 71.40000153,
  "manLabourForcePercent": 75.90000153,
  "womanSeniorOfficialsPercent": 38.5077187,
  "manSeniorOfficialsPercent": 61.40651801,
  "womanMpPercent": 23.40425532,
  "manMpPercent": 76.59574468,
  "womanMinistersPercent": 21.42857143,
  "manMinistersPercent": 78.57142857
 },
 "Luxembourg": {
  "countryName": "Luxembourg",
  "countryNameTranslation": "<%= Luxembourg %>",
  "rank": 32,
  "currency": "&#128;",
  "womanSalaryDiff": 0.935,
  "womanDegree": "53.60102",
  "manDegree": "46.39898",
  "womanLabourForcePercent": 62.20000076,
  "manLabourForcePercent": 75.09999847,
  "womanSeniorOfficialsPercent": 22.05882353,
  "manSeniorOfficialsPercent": 76.47058824,
  "womanMpPercent": 28.33333333,
  "manMpPercent": 71.66666667,
  "womanMinistersPercent": 26.66666667,
  "manMinistersPercent": 73.33333333
 },
 "Macedonia": {
  "countryName": "Macedonia",
  "countryNameTranslation": "<%= Macedonia %>",
  "rank": 69,
  "currency": "&#36;",
  "womanDegree": "56.27915",
  "manDegree": "43.72085",
  "womanLabourForcePercent": 51.09999847,
  "manLabourForcePercent": 77,
  "womanSeniorOfficialsPercent": 28.97526502,
  "manSeniorOfficialsPercent": 71.02473498,
  "womanMpPercent": 33.33333333,
  "manMpPercent": 66.66666667,
  "womanMinistersPercent": 8,
  "manMinistersPercent": 92
 },
 "Madagascar": {
  "countryName": "Madagascar",
  "countryNameTranslation": "<%= Madagascar %>",
  "rank": 74,
  "currency": "&#36;",
  "womanDegree": "47.90611",
  "manDegree": "52.09389",
  "womanLabourForcePercent": 88.19999695,
  "manLabourForcePercent": 91.30000305,
  "womanSeniorOfficialsPercent": 25,
  "manSeniorOfficialsPercent": 75,
  "womanMpPercent": 20.52980132,
  "manMpPercent": 79.47019868,
  "womanMinistersPercent": 20,
  "manMinistersPercent": 80
 },
 "Malawi": {
  "countryName": "Malawi",
  "countryNameTranslation": "<%= Malawi %>",
  "rank": 68,
  "currency": "&#36;",
  "womanLabourForcePercent": 84.5,
  "manLabourForcePercent": 80.69999695,
  "womanMpPercent": 16.66666667,
  "manMpPercent": 83.33333333,
  "womanMinistersPercent": 11.11111111,
  "manMinistersPercent": 88.88888889
 },
 "Malaysia": {
  "countryName": "Malaysia",
  "countryNameTranslation": "<%= Malaysia %>",
  "rank": 111,
  "currency": "&#36;",
  "womanDegree": "56.5975",
  "manDegree": "43.4025",
  "womanLabourForcePercent": 47,
  "manLabourForcePercent": 79.09999847,
  "womanSeniorOfficialsPercent": 22.04169662,
  "manSeniorOfficialsPercent": 77.94392523,
  "womanMpPercent": 10.36036036,
  "manMpPercent": 89.63963964,
  "womanMinistersPercent": 5.714285714,
  "manMinistersPercent": 94.28571429
 },
 "Maldives": {
  "countryName": "Maldives",
  "countryNameTranslation": "<%= Maldives %>",
  "rank": 113,
  "currency": "&#36;",
  "womanLabourForcePercent": 58.40000153,
  "manLabourForcePercent": 79.59999847,
  "womanSeniorOfficialsPercent": 13.41463415,
  "manSeniorOfficialsPercent": 86.58536585,
  "womanMpPercent": 5.882352941,
  "manMpPercent": 94.11764706,
  "womanMinistersPercent": 12.5,
  "manMinistersPercent": 87.5
 },
 "Mali": {
  "countryName": "Mali",
  "countryNameTranslation": "<%= Mali %>",
  "rank": 137,
  "currency": "&#36;",
  "womanLabourForcePercent": 51.90000153,
  "manLabourForcePercent": 81.90000153,
  "womanMpPercent": 8.843537415,
  "manMpPercent": 91.15646259,
  "womanMinistersPercent": 16.12903226,
  "manMinistersPercent": 83.87096774
 },
 "Malta": {
  "countryName": "Malta",
  "countryNameTranslation": "<%= Malta %>",
  "rank": 104,
  "currency": "&#128;",
  "womanDegree": "57.43575",
  "manDegree": "42.56425",
  "womanLabourForcePercent": 47.59999847,
  "manLabourForcePercent": 78.59999847,
  "womanSeniorOfficialsPercent": 25.74850299,
  "manSeniorOfficialsPercent": 74.25149701,
  "womanMpPercent": 12.85714286,
  "manMpPercent": 87.14285714,
  "womanMinistersPercent": 7.142857143,
  "manMinistersPercent": 92.85714286
 },
 "Mauritania": {
  "countryName": "Mauritania",
  "countryNameTranslation": "<%= Mauritania %>",
  "rank": 132,
  "currency": "&#36;",
  "womanLabourForcePercent": 29.39999962,
  "manLabourForcePercent": 80.19999695,
  "womanMpPercent": 25.17006803,
  "manMpPercent": 74.82993197,
  "womanMinistersPercent": 26.92307692,
  "manMinistersPercent": 73.07692308
 },
 "Mauritius": {
  "countryName": "Mauritius",
  "countryNameTranslation": "<%= Mauritius %>",
  "rank": 120,
  "currency": "&#36;",
  "womanLabourForcePercent": 49,
  "manLabourForcePercent": 80.19999695,
  "womanSeniorOfficialsPercent": 23.42857143,
  "manSeniorOfficialsPercent": 76.57142857,
  "womanMpPercent": 11.5942029,
  "manMpPercent": 88.4057971,
  "womanMinistersPercent": 12,
  "manMinistersPercent": 88
 },
 "Mexico": {
  "countryName": "Mexico",
  "countryNameTranslation": "<%= Mexico %>",
  "rank": 71,
  "currency": "&#36;",
  "womanSalaryDiff": 0.846,
  "womanDegree": "53.46931",
  "manDegree": "46.53069",
  "womanLabourForcePercent": 48.20000076,
  "manLabourForcePercent": 83.30000305,
  "womanSeniorOfficialsPercent": 35.71637,
  "manSeniorOfficialsPercent": 64.28363,
  "womanMpPercent": 42.36947791,
  "manMpPercent": 57.63052209,
  "womanMinistersPercent": 17.64705882,
  "manMinistersPercent": 82.35294118
 },
 "Moldova": {
  "countryName": "Moldova",
  "countryNameTranslation": "<%= Moldova %>",
  "rank": 26,
  "currency": "&#36;",
  "womanDegree": "59.61616",
  "manDegree": "40.38384",
  "womanLabourForcePercent": 43.70000076,
  "manLabourForcePercent": 48.40000153,
  "womanSeniorOfficialsPercent": 42.97328688,
  "manSeniorOfficialsPercent": 57.02671312,
  "womanMpPercent": 21.78217822,
  "manMpPercent": 78.21782178,
  "womanMinistersPercent": 27.77777778,
  "manMinistersPercent": 72.22222222
 },
 "Mongolia": {
  "countryName": "Mongolia",
  "countryNameTranslation": "<%= Mongolia %>",
  "rank": 56,
  "currency": "&#36;",
  "womanDegree": "64.47588",
  "manDegree": "35.52412",
  "womanLabourForcePercent": 59.59999847,
  "manLabourForcePercent": 71.69999695,
  "womanSeniorOfficialsPercent": 41.95205479,
  "manSeniorOfficialsPercent": 58.21917808,
  "womanMpPercent": 14.47368421,
  "manMpPercent": 85.52631579,
  "womanMinistersPercent": 11.11111111,
  "manMinistersPercent": 88.88888889
 },
 "Montenegro": {
  "countryName": "Montenegro",
  "countryNameTranslation": "<%= Montenegro %>",
  "rank": 79,
  "currency": "&#128;",
  "womanLabourForcePercent": 52.09999847,
  "manLabourForcePercent": 65.90000153,
  "womanSeniorOfficialsPercent": 27.27272727,
  "manSeniorOfficialsPercent": 73.63636364,
  "womanMpPercent": 17.28395062,
  "manMpPercent": 82.71604938,
  "womanMinistersPercent": 16.66666667,
  "manMinistersPercent": 83.33333333
 },
 "Morocco": {
  "countryName": "Morocco",
  "countryNameTranslation": "<%= Morocco %>",
  "rank": 139,
  "currency": "&#36;",
  "womanLabourForcePercent": 27.10000038,
  "manLabourForcePercent": 78.90000153,
  "womanSeniorOfficialsPercent": 12.8042328,
  "manSeniorOfficialsPercent": 87.1957672,
  "womanMpPercent": 16.96202532,
  "manMpPercent": 83.03797468,
  "womanMinistersPercent": 15.78947368,
  "manMinistersPercent": 84.21052632
 },
 "Mozambique": {
  "countryName": "Mozambique",
  "countryNameTranslation": "<%= Mozambique %>",
  "rank": 27,
  "currency": "&#36;",
  "womanDegree": "44.86592",
  "manDegree": "55.13408",
  "womanLabourForcePercent": 86.09999847,
  "manLabourForcePercent": 82.59999847,
  "womanMpPercent": 39.6,
  "manMpPercent": 60.4,
  "womanMinistersPercent": 28.57142857,
  "manMinistersPercent": 71.42857143
 },
 "Namibia": {
  "countryName": "Namibia",
  "countryNameTranslation": "<%= Namibia %>",
  "rank": 16,
  "currency": "&#36;",
  "womanLabourForcePercent": 56.40000153,
  "manLabourForcePercent": 64.80000305,
  "womanSeniorOfficialsPercent": 42.92929293,
  "manSeniorOfficialsPercent": 57.57575758,
  "womanMpPercent": 41.34615385,
  "manMpPercent": 58.65384615,
  "womanMinistersPercent": 21.73913043,
  "manMinistersPercent": 78.26086957
 },
 "Nepal": {
  "countryName": "Nepal",
  "countryNameTranslation": "<%= Nepal %>",
  "rank": 110,
  "currency": "&#36;",
  "womanDegree": "48.30535",
  "manDegree": "51.69465",
  "womanLabourForcePercent": 83,
  "manLabourForcePercent": 88.80000305,
  "womanSeniorOfficialsPercent": 18.30985915,
  "manSeniorOfficialsPercent": 81.69014085,
  "womanMpPercent": 29.54924875,
  "manMpPercent": 70.45075125,
  "womanMinistersPercent": 13.63636364,
  "manMinistersPercent": 86.36363636
 },
 "Netherlands": {
  "countryName": "Netherlands",
  "countryNameTranslation": "<%= Netherlands %>",
  "rank": 13,
  "currency": "&#128;",
  "womanSalaryDiff": 0.795,
  "womanDegree": "56.53112",
  "manDegree": "43.46888",
  "womanLabourForcePercent": 74.30000305,
  "manLabourForcePercent": 84.19999695,
  "womanSeniorOfficialsPercent": 25.60155697,
  "manSeniorOfficialsPercent": 74.39844303,
  "womanMpPercent": 37.33333333,
  "manMpPercent": 62.66666667,
  "womanMinistersPercent": 46.66666667,
  "manMinistersPercent": 53.33333333
 },
 "New Zealand": {
  "countryName": "New Zealand",
  "countryNameTranslation": "<%= New_Zealand %>",
  "rank": 10,
  "currency": "&#36;",
  "womanSalaryDiff": 0.944,
  "womanDegree": "59.37774",
  "manDegree": "40.62226",
  "womanLabourForcePercent": 72.59999847,
  "manLabourForcePercent": 83.40000153,
  "womanSeniorOfficialsPercent": 39.95319291,
  "manSeniorOfficialsPercent": 60.04680709,
  "womanMpPercent": 31.40495868,
  "manMpPercent": 68.59504132,
  "womanMinistersPercent": 33.33333333,
  "manMinistersPercent": 66.66666667
 },
 "Nicaragua": {
  "countryName": "Nicaragua",
  "countryNameTranslation": "<%= Nicaragua %>",
  "rank": 12,
  "currency": "&#36;",
  "womanLabourForcePercent": 49.79999924,
  "manLabourForcePercent": 82.5,
  "womanSeniorOfficialsPercent": 41.01123596,
  "manSeniorOfficialsPercent": 58.98876404,
  "womanMpPercent": 41.30434783,
  "manMpPercent": 58.69565217,
  "womanMinistersPercent": 47.05882353,
  "manMinistersPercent": 52.94117647
 },
 "Nigeria": {
  "countryName": "Nigeria",
  "countryNameTranslation": "<%= Nigeria %>",
  "rank": 125,
  "currency": "&#36;",
  "womanLabourForcePercent": 48.5,
  "manLabourForcePercent": 63.59999847,
  "womanMpPercent": 5.555555556,
  "manMpPercent": 94.44444444,
  "womanMinistersPercent": 24.13793103,
  "manMinistersPercent": 75.86206897
 },
 "Norway": {
  "countryName": "Norway",
  "countryNameTranslation": "<%= Norway %>",
  "rank": 2,
  "currency": "&#128;",
  "womanSalaryDiff": 0.93,
  "womanDegree": "58.67093",
  "manDegree": "41.32907",
  "womanLabourForcePercent": 75.80000305,
  "manLabourForcePercent": 80,
  "womanSeniorOfficialsPercent": 35.54185927,
  "manSeniorOfficialsPercent": 64.45814073,
  "womanMpPercent": 39.64497041,
  "manMpPercent": 60.35502959,
  "womanMinistersPercent": 47.05882353,
  "manMinistersPercent": 52.94117647
 },
 "Oman": {
  "countryName": "Oman",
  "countryNameTranslation": "<%= Oman %>",
  "rank": 135,
  "currency": "&#36;",
  "womanDegree": "56.12594",
  "manDegree": "43.87406",
  "womanLabourForcePercent": 30.5,
  "manLabourForcePercent": 84.5,
  "womanSeniorOfficialsPercent": 8.988764045,
  "manSeniorOfficialsPercent": 91.01123596,
  "womanMpPercent": 1.19047619,
  "manMpPercent": 98.80952381,
  "womanMinistersPercent": 6.666666667,
  "manMinistersPercent": 93.33333333
 },
 "Pakistan": {
  "countryName": "Pakistan",
  "countryNameTranslation": "<%= Pakistan %>",
  "rank": 144,
  "currency": "&#36;",
  "womanLabourForcePercent": 25.60000038,
  "manLabourForcePercent": 85.90000153,
  "womanSeniorOfficialsPercent": 2.967121091,
  "manSeniorOfficialsPercent": 97.03287891,
  "womanMpPercent": 20.58823529,
  "manMpPercent": 79.41176471,
  "manMinistersPercent": 100
 },
 "Panama": {
  "countryName": "Panama",
  "countryNameTranslation": "<%= Panama %>",
  "rank": 44,
  "currency": "&#36;",
  "womanDegree": "65.38225",
  "manDegree": "34.61775",
  "womanLabourForcePercent": 53.20000076,
  "manLabourForcePercent": 86.19999695,
  "womanSeniorOfficialsPercent": 47.38344434,
  "manSeniorOfficialsPercent": 52.61655566,
  "womanMpPercent": 18.30985915,
  "manMpPercent": 81.69014085,
  "womanMinistersPercent": 27.77777778,
  "manMinistersPercent": 72.22222222
 },
 "Paraguay": {
  "countryName": "Paraguay",
  "countryNameTranslation": "<%= Paraguay %>",
  "rank": 107,
  "currency": "&#36;",
  "womanLabourForcePercent": 58.59999847,
  "manLabourForcePercent": 88,
  "womanSeniorOfficialsPercent": 33.81147541,
  "manSeniorOfficialsPercent": 66.18852459,
  "womanMpPercent": 15,
  "manMpPercent": 85,
  "womanMinistersPercent": 7.692307692,
  "manMinistersPercent": 92.30769231
 },
 "Peru": {
  "countryName": "Peru",
  "countryNameTranslation": "<%= Peru %>",
  "rank": 89,
  "currency": "&#36;",
  "womanLabourForcePercent": 69.30000305,
  "manLabourForcePercent": 86.80000305,
  "womanSeniorOfficialsPercent": 29.75871314,
  "manSeniorOfficialsPercent": 70.37533512,
  "womanMpPercent": 22.30769231,
  "manMpPercent": 77.69230769,
  "womanMinistersPercent": 22.22222222,
  "manMinistersPercent": 77.77777778
 },
 "Philippines": {
  "countryName": "Philippines",
  "countryNameTranslation": "<%= Philippines %>",
  "rank": 7,
  "currency": "&#36;",
  "womanDegree": "56.83704",
  "manDegree": "43.16296",
  "womanLabourForcePercent": 52.70000076,
  "manLabourForcePercent": 81.40000153,
  "womanSeniorOfficialsPercent": 57,
  "manSeniorOfficialsPercent": 43,
  "womanMpPercent": 27.24137931,
  "manMpPercent": 72.75862069,
  "womanMinistersPercent": 20,
  "manMinistersPercent": 80
 },
 "Poland": {
  "countryName": "Poland",
  "countryNameTranslation": "<%= Poland %>",
  "rank": 51,
  "currency": "&#36;",
  "womanSalaryDiff": 0.894,
  "womanDegree": "65.97893",
  "manDegree": "34.02107",
  "womanLabourForcePercent": 60.29999924,
  "manLabourForcePercent": 73.90000153,
  "womanSeniorOfficialsPercent": 38.80762635,
  "manSeniorOfficialsPercent": 61.19237365,
  "womanMpPercent": 24.13043478,
  "manMpPercent": 75.86956522,
  "womanMinistersPercent": 27.77777778,
  "manMinistersPercent": 72.22222222
 },
 "Portugal": {
  "countryName": "Portugal",
  "countryNameTranslation": "<%= Portugal %>",
  "rank": 39,
  "currency": "&#128;",
  "womanSalaryDiff": 0.837,
  "womanDegree": "59.78475",
  "manDegree": "40.21525",
  "womanLabourForcePercent": 70.09999847,
  "manLabourForcePercent": 77.09999847,
  "womanSeniorOfficialsPercent": 35.1425943,
  "manSeniorOfficialsPercent": 64.8574057,
  "womanMpPercent": 31.30434783,
  "manMpPercent": 68.69565217,
  "womanMinistersPercent": 28.57142857,
  "manMinistersPercent": 71.42857143
 },
 "Qatar": {
  "countryName": "Qatar",
  "countryNameTranslation": "<%= Qatar %>",
  "rank": 122,
  "currency": "&#36;",
  "womanDegree": "60.77058",
  "manDegree": "39.22942",
  "womanLabourForcePercent": 51.79999924,
  "manLabourForcePercent": 95.90000153,
  "womanSeniorOfficialsPercent": 12.22493888,
  "manSeniorOfficialsPercent": 87.77506112,
  "manMpPercent": 100,
  "womanMinistersPercent": 5,
  "manMinistersPercent": 95
 },
 "Romania": {
  "countryName": "Romania",
  "countryNameTranslation": "<%= Romania %>",
  "rank": 77,
  "currency": "&#128;",
  "womanDegree": "61.59132",
  "manDegree": "38.40868",
  "womanLabourForcePercent": 56.90000153,
  "manLabourForcePercent": 72.59999847,
  "womanSeniorOfficialsPercent": 31.64196123,
  "manSeniorOfficialsPercent": 68.35803877,
  "womanMpPercent": 13.71571072,
  "manMpPercent": 86.28428928,
  "womanMinistersPercent": 14.28571429,
  "manMinistersPercent": 85.71428571
 },
 "Russia": {
  "countryName": "Russia",
  "countryNameTranslation": "<%= Russia %>",
  "rank": 75,
  "currency": "&#36;",
  "womanLabourForcePercent": 68.59999847,
  "manLabourForcePercent": 78.69999695,
  "womanSeniorOfficialsPercent": 38.38678328,
  "manSeniorOfficialsPercent": 61.61321672,
  "womanMpPercent": 13.55555556,
  "manMpPercent": 86.44444444,
  "womanMinistersPercent": 6.451612903,
  "manMinistersPercent": 93.5483871
 },
 "Rwanda": {
  "countryName": "Rwanda",
  "countryNameTranslation": "<%= Rwanda %>",
  "rank": 6,
  "currency": "&#36;",
  "womanDegree": "42.70314",
  "manDegree": "57.29686",
  "womanLabourForcePercent": 88,
  "manLabourForcePercent": 86.30000305,
  "womanSeniorOfficialsPercent": 33.75,
  "manSeniorOfficialsPercent": 66.25,
  "womanMpPercent": 63.75,
  "manMpPercent": 36.25,
  "womanMinistersPercent": 35.48387097,
  "manMinistersPercent": 64.51612903
 },
 "Saudi Arabia": {
  "countryName": "Saudi Arabia",
  "countryNameTranslation": "<%= Saudi_Arabia %>",
  "rank": 134,
  "currency": "&#36;",
  "womanDegree": "51.05456",
  "manDegree": "48.94544",
  "womanLabourForcePercent": 21.29999924,
  "manLabourForcePercent": 79.90000153,
  "womanSeniorOfficialsPercent": 6.790123457,
  "manSeniorOfficialsPercent": 93.18181818,
  "womanMpPercent": 19.86754967,
  "manMpPercent": 80.13245033,
  "manMinistersPercent": 100
 },
 "Senegal": {
  "countryName": "Senegal",
  "countryNameTranslation": "<%= Senegal %>",
  "rank": 72,
  "currency": "&#36;",
  "womanLabourForcePercent": 67.30000305,
  "manLabourForcePercent": 89.5,
  "womanMpPercent": 42.66666667,
  "manMpPercent": 57.33333333,
  "womanMinistersPercent": 20,
  "manMinistersPercent": 80
 },
 "Serbia": {
  "countryName": "Serbia",
  "countryNameTranslation": "<%= Serbia %>",
  "rank": 45,
  "currency": "&#36;",
  "womanDegree": "58.43463",
  "manDegree": "41.56537",
  "womanLabourForcePercent": 53.5,
  "manLabourForcePercent": 69.30000305,
  "womanSeniorOfficialsPercent": 31.44963145,
  "manSeniorOfficialsPercent": 68.55036855,
  "womanMpPercent": 34,
  "manMpPercent": 66,
  "womanMinistersPercent": 22.22222222,
  "manMinistersPercent": 77.77777778
 },
 "Singapore": {
  "countryName": "Singapore",
  "countryNameTranslation": "<%= Singapore %>",
  "rank": 54,
  "currency": "&#36;",
  "womanLabourForcePercent": 65.09999847,
  "manLabourForcePercent": 82.30000305,
  "womanSeniorOfficialsPercent": 33.69565217,
  "manSeniorOfficialsPercent": 66.33295195,
  "womanMpPercent": 25.25252525,
  "manMpPercent": 74.74747475,
  "womanMinistersPercent": 5.555555556,
  "manMinistersPercent": 94.44444444
 },
 "Slovakia": {
  "countryName": "Slovakia",
  "countryNameTranslation": "<%= Slovakia %>",
  "rank": 97,
  "currency": "&#128;",
  "womanSalaryDiff": 0.859,
  "womanDegree": "63.58184",
  "manDegree": "36.41816",
  "womanLabourForcePercent": 62.20000076,
  "manLabourForcePercent": 77.5,
  "womanSeniorOfficialsPercent": 30.00968054,
  "manSeniorOfficialsPercent": 69.99031946,
  "womanMpPercent": 18.66666667,
  "manMpPercent": 81.33333333,
  "manMinistersPercent": 100
 },
 "Slovenia": {
  "countryName": "Slovenia",
  "countryNameTranslation": "<%= Slovenia %>",
  "rank": 9,
  "currency": "&#128;",
  "womanSalaryDiff": 0.884,
  "womanDegree": "60.26898",
  "manDegree": "39.73102",
  "womanLabourForcePercent": 67.30000305,
  "manLabourForcePercent": 74.30000305,
  "womanSeniorOfficialsPercent": 37.5,
  "manSeniorOfficialsPercent": 62.5,
  "womanMpPercent": 36.66666667,
  "manMpPercent": 63.33333333,
  "womanMinistersPercent": 43.75,
  "manMinistersPercent": 56.25
 },
 "South Africa": {
  "countryName": "South Africa",
  "countryNameTranslation": "<%= South_Africa %>",
  "rank": 17,
  "currency": "&#36;",
  "womanDegree": "59.83934",
  "manDegree": "40.16066",
  "womanLabourForcePercent": 48.90000153,
  "manLabourForcePercent": 63.79999924,
  "womanSeniorOfficialsPercent": 30.21488684,
  "manSeniorOfficialsPercent": 69.77694256,
  "womanMpPercent": 41.91919192,
  "manMpPercent": 58.08080808,
  "womanMinistersPercent": 41.66666667,
  "manMinistersPercent": 58.33333333
 },
 "South Korea": {
  "countryName": "South Korea",
  "countryNameTranslation": "<%= South_Korea %>",
  "rank": 115,
  "currency": "&#36;",
  "womanSalaryDiff": 0.634,
  "womanLabourForcePercent": 55.5,
  "manLabourForcePercent": 76.09999847,
  "womanSeniorOfficialsPercent": 11.04651163,
  "manSeniorOfficialsPercent": 88.95348837,
  "womanMpPercent": 16.33333333,
  "manMpPercent": 83.66666667,
  "womanMinistersPercent": 5.882352941,
  "manMinistersPercent": 94.11764706
 },
 "Spain": {
  "countryName": "Spain",
  "countryNameTranslation": "<%= Spain %>",
  "rank": 25,
  "currency": "&#128;",
  "womanSalaryDiff": 0.914,
  "womanDegree": "56.15401",
  "manDegree": "43.84599",
  "womanLabourForcePercent": 68.30000305,
  "manLabourForcePercent": 79.90000153,
  "womanSeniorOfficialsPercent": 30.88291993,
  "manSeniorOfficialsPercent": 69.11708007,
  "womanMpPercent": 41.14285714,
  "manMpPercent": 58.85714286,
  "womanMinistersPercent": 30.76923077,
  "manMinistersPercent": 69.23076923
 },
 "Sri Lanka": {
  "countryName": "Sri Lanka",
  "countryNameTranslation": "<%= Sri_Lanka %>",
  "rank": 84,
  "currency": "&#36;",
  "womanDegree": "57.6096",
  "manDegree": "42.3904",
  "womanLabourForcePercent": 38.79999924,
  "manLabourForcePercent": 81.09999847,
  "womanSeniorOfficialsPercent": 24.17061611,
  "manSeniorOfficialsPercent": 75.82938389,
  "womanMpPercent": 4.888888889,
  "manMpPercent": 95.11111111,
  "womanMinistersPercent": 7.142857143,
  "manMinistersPercent": 92.85714286
 },
 "Suriname": {
  "countryName": "Suriname",
  "countryNameTranslation": "<%= Suriname %>",
  "rank": 94,
  "currency": "&#36;",
  "womanLabourForcePercent": 44.79999924,
  "manLabourForcePercent": 73.5,
  "womanSeniorOfficialsPercent": 35.71428571,
  "manSeniorOfficialsPercent": 64.28571429,
  "womanMpPercent": 25.49019608,
  "manMpPercent": 74.50980392,
  "womanMinistersPercent": 5.555555556,
  "manMinistersPercent": 94.44444444
 },
 "Swaziland": {
  "countryName": "Swaziland",
  "countryNameTranslation": "<%= Swaziland %>",
  "rank": 102,
  "currency": "&#36;",
  "womanDegree": "38.77228",
  "manDegree": "61.22772",
  "womanLabourForcePercent": 45.40000153,
  "manLabourForcePercent": 72.90000153,
  "womanMpPercent": 6.153846154,
  "manMpPercent": 93.84615385,
  "womanMinistersPercent": 26.31578947,
  "manMinistersPercent": 73.68421053
 },
 "Sweden": {
  "countryName": "Sweden",
  "countryNameTranslation": "<%= Sweden %>",
  "rank": 4,
  "currency": "&#128;",
  "womanSalaryDiff": 0.849,
  "womanDegree": "61.58085",
  "manDegree": "38.41915",
  "womanLabourForcePercent": 78.59999847,
  "manLabourForcePercent": 83.19999695,
  "womanSeniorOfficialsPercent": 37.13638081,
  "manSeniorOfficialsPercent": 62.90139781,
  "womanMpPercent": 43.5530086,
  "manMpPercent": 56.4469914,
  "womanMinistersPercent": 52.17391304,
  "manMinistersPercent": 47.82608696
 },
 "Switzerland": {
  "countryName": "Switzerland",
  "countryNameTranslation": "<%= Switzerland %>",
  "rank": 8,
  "currency": "&#128;",
  "womanSalaryDiff": 0.815,
  "womanDegree": "48.25233",
  "manDegree": "51.74767",
  "womanLabourForcePercent": 78,
  "manLabourForcePercent": 88.5,
  "womanSeniorOfficialsPercent": 33.84375811,
  "manSeniorOfficialsPercent": 66.15624189,
  "womanMpPercent": 30.5,
  "manMpPercent": 69.5,
  "womanMinistersPercent": 42.85714286,
  "manMinistersPercent": 57.14285714
 },
 "Syria": {
  "countryName": "Syria",
  "countryNameTranslation": "<%= Syria %>",
  "rank": 143,
  "currency": "&#36;",
  "womanDegree": "56.15225",
  "manDegree": "43.84775",
  "womanLabourForcePercent": 14.30000019,
  "manLabourForcePercent": 76,
  "womanSeniorOfficialsPercent": 8.990011099,
  "manSeniorOfficialsPercent": 91.0099889,
  "womanMpPercent": 12.4,
  "manMpPercent": 87.6,
  "womanMinistersPercent": 5.882352941,
  "manMinistersPercent": 94.11764706
 },
 "Tajikistan": {
  "countryName": "Tajikistan",
  "countryNameTranslation": "<%= Tajikistan %>",
  "rank": 95,
  "currency": "&#36;",
  "womanDegree": "38.0336",
  "manDegree": "61.9664",
  "womanLabourForcePercent": 61.70000076,
  "manLabourForcePercent": 79.80000305,
  "womanMpPercent": 19.04761905,
  "manMpPercent": 80.95238095,
  "womanMinistersPercent": 11.11111111,
  "manMinistersPercent": 88.88888889
 },
 "Tanzania": {
  "countryName": "Tanzania",
  "countryNameTranslation": "<%= Tanzania %>",
  "rank": 49,
  "currency": "&#36;",
  "womanLabourForcePercent": 89.90000153,
  "manLabourForcePercent": 91.09999847,
  "womanSeniorOfficialsPercent": 16.34615385,
  "manSeniorOfficialsPercent": 83.33333333,
  "womanMpPercent": 36,
  "manMpPercent": 64,
  "womanMinistersPercent": 32.25806452,
  "manMinistersPercent": 67.74193548
 },
 "Thailand": {
  "countryName": "Thailand",
  "countryNameTranslation": "<%= Thailand %>",
  "rank": 60,
  "currency": "&#36;",
  "womanDegree": "57.08309",
  "manDegree": "42.91691",
  "womanLabourForcePercent": 70.90000153,
  "manLabourForcePercent": 85.90000153,
  "womanSeniorOfficialsPercent": 38.59769993,
  "manSeniorOfficialsPercent": 61.40230007,
  "womanMpPercent": 6.091370558,
  "manMpPercent": 93.90862944,
  "womanMinistersPercent": 4.166666667,
  "manMinistersPercent": 95.83333333
 },
 "The Gambia": {
  "countryName": "The Gambia",
  "countryNameTranslation": "<%= The_Gambia %>",
  "rank": 98,
  "currency": "&#36;",
  "womanLabourForcePercent": 72.80000305,
  "manLabourForcePercent": 82.80000305,
  "womanSeniorOfficialsPercent": 37.5,
  "manSeniorOfficialsPercent": 66.66666667,
  "womanMpPercent": 9.433962264,
  "manMpPercent": 90.56603774,
  "womanMinistersPercent": 21.05263158,
  "manMinistersPercent": 78.94736842
 },
 "Trinidad and Tobago": {
  "countryName": "Trinidad and Tobago",
  "countryNameTranslation": "<%= Trinidad_and_Tobago %>",
  "rank": 46,
  "currency": "&#36;",
  "womanLabourForcePercent": 59.70000076,
  "manLabourForcePercent": 82.40000153,
  "womanSeniorOfficialsPercent": 43.54561102,
  "manSeniorOfficialsPercent": 56.45438898,
  "womanMpPercent": 28.57142857,
  "manMpPercent": 71.42857143,
  "womanMinistersPercent": 9.677419355,
  "manMinistersPercent": 90.32258065
 },
 "Tunisia": {
  "countryName": "Tunisia",
  "countryNameTranslation": "<%= Tunisia %>",
  "rank": 127,
  "currency": "&#36;",
  "womanDegree": "65.90086",
  "manDegree": "34.09914",
  "womanLabourForcePercent": 27.29999924,
  "manLabourForcePercent": 75.5,
  "womanSeniorOfficialsPercent": 14.74029013,
  "manSeniorOfficialsPercent": 85.25970987,
  "womanMpPercent": 31.33640553,
  "manMpPercent": 68.66359447,
  "womanMinistersPercent": 10.52631579,
  "manMinistersPercent": 89.47368421
 },
 "Turkey": {
  "countryName": "Turkey",
  "countryNameTranslation": "<%= Turkey %>",
  "rank": 130,
  "currency": "&#36;",
  "womanSalaryDiff": 0.799,
  "womanDegree": "47.14325",
  "manDegree": "52.85675",
  "womanLabourForcePercent": 32.20000076,
  "manLabourForcePercent": 75.59999847,
  "womanSeniorOfficialsPercent": 13.36268,
  "manSeniorOfficialsPercent": 86.63732,
  "womanMpPercent": 17.81818182,
  "manMpPercent": 82.18181818,
  "womanMinistersPercent": 4,
  "manMinistersPercent": 96
 },
 "Uganda": {
  "countryName": "Uganda",
  "countryNameTranslation": "<%= Uganda %>",
  "rank": 58,
  "currency": "&#36;",
  "womanLabourForcePercent": 76.59999847,
  "manLabourForcePercent": 79.59999847,
  "womanSeniorOfficialsPercent": 25.29644269,
  "manSeniorOfficialsPercent": 74.70355731,
  "womanMpPercent": 34.97409326,
  "manMpPercent": 65.02590674,
  "womanMinistersPercent": 29.62962963,
  "manMinistersPercent": 70.37037037
 },
 "Ukraine": {
  "countryName": "Ukraine",
  "countryNameTranslation": "<%= Ukraine %>",
  "rank": 67,
  "currency": "&#36;",
  "womanDegree": "54.97531",
  "manDegree": "45.02469",
  "womanLabourForcePercent": 62.59999847,
  "manLabourForcePercent": 73.30000305,
  "womanSeniorOfficialsPercent": 38.3144979,
  "manSeniorOfficialsPercent": 61.6855021,
  "womanMpPercent": 12.08530806,
  "manMpPercent": 87.91469194,
  "womanMinistersPercent": 10.52631579,
  "manMinistersPercent": 89.47368421
 },
 "United Arab Emirates": {
  "countryName": "United Arab Emirates",
  "countryNameTranslation": "<%= United_Arab_Emirates %>",
  "rank": 119,
  "currency": "&#36;",
  "womanDegree": "55.56421",
  "manDegree": "44.43579",
  "womanLabourForcePercent": 46.79999924,
  "manLabourForcePercent": 92.30000305,
  "womanSeniorOfficialsPercent": 9.941944848,
  "manSeniorOfficialsPercent": 90.05805515,
  "womanMpPercent": 17.5,
  "manMpPercent": 82.5,
  "womanMinistersPercent": 16.66666667,
  "manMinistersPercent": 83.33333333,
  "search_alternative": [
   "UAE"
  ]
 },
 "United Kingdom": {
  "countryName": "United Kingdom",
  "countryNameTranslation": "<%= United_Kingdom %>",
  "rank": 18,
  "currency": "&#163;",
  "womanSalaryDiff": 0.825,
  "womanDegree": "57.0503",
  "manDegree": "42.9497",
  "womanLabourForcePercent": 70.30000305,
  "manLabourForcePercent": 82.09999847,
  "womanSeniorOfficialsPercent": 35.28251065,
  "manSeniorOfficialsPercent": 64.71748935,
  "womanMpPercent": 29.38461538,
  "manMpPercent": 70.61538462,
  "womanMinistersPercent": 22.72727273,
  "manMinistersPercent": 77.27272727,
  "search_alternative": [
   "UK",
   "GB",
   "GBR"
  ]
 },
 "United States": {
  "countryName": "United States",
  "countryNameTranslation": "<%= United_States %>",
  "rank": 28,
  "currency": "&#36;",
  "womanSalaryDiff": 0.821,
  "womanDegree": "58.38001",
  "manDegree": "41.61999",
  "womanLabourForcePercent": 66.09999847,
  "manLabourForcePercent": 77.30000305,
  "womanSeniorOfficialsPercent": 43.41493375,
  "manSeniorOfficialsPercent": 56.58506625,
  "womanMpPercent": 19.35483871,
  "manMpPercent": 80.64516129,
  "womanMinistersPercent": 26.08695652,
  "manMinistersPercent": 73.91304348,
  "search_alternative": [
   "US",
   "USA"
  ]
 },
 "Uruguay": {
  "countryName": "Uruguay",
  "countryNameTranslation": "<%= Uruguay %>",
  "rank": 93,
  "currency": "&#36;",
  "womanLabourForcePercent": 67.40000153,
  "manLabourForcePercent": 85.80000305,
  "womanSeniorOfficialsPercent": 30.89430894,
  "manSeniorOfficialsPercent": 68.83468835,
  "womanMpPercent": 16.16161616,
  "manMpPercent": 83.83838384,
  "womanMinistersPercent": 14.28571429,
  "manMinistersPercent": 85.71428571
 },
 "Venezuela": {
  "countryName": "Venezuela",
  "countryNameTranslation": "<%= Venezuela %>",
  "rank": 78,
  "currency": "&#36;",
  "womanLabourForcePercent": 54.79999924,
  "manLabourForcePercent": 82.69999695,
  "womanSeniorOfficialsPercent": 30.67846608,
  "manSeniorOfficialsPercent": 69.32153392,
  "womanMpPercent": 16.96969697,
  "manMpPercent": 83.03030303,
  "womanMinistersPercent": 23.33333333,
  "manMinistersPercent": 76.66666667
 },
 "Vietnam": {
  "countryName": "Vietnam",
  "countryNameTranslation": "<%= Vietnam %>",
  "rank": 83,
  "currency": "&#36;",
  "womanDegree": "42.9896",
  "manDegree": "57.0104",
  "womanLabourForcePercent": 78.90000153,
  "manLabourForcePercent": 85.5,
  "womanSeniorOfficialsPercent": 24.3738657,
  "manSeniorOfficialsPercent": 75.6261343,
  "womanMpPercent": 24.29718876,
  "manMpPercent": 75.70281124,
  "womanMinistersPercent": 9.090909091,
  "manMinistersPercent": 90.90909091
 },
 "Yemen": {
  "countryName": "Yemen",
  "countryNameTranslation": "<%= Yemen %>",
  "rank": 145,
  "currency": "&#36;",
  "womanLabourForcePercent": 26.39999962,
  "manLabourForcePercent": 74.30000305,
  "womanSeniorOfficialsPercent": 2.135231317,
  "manSeniorOfficialsPercent": 97.86476868,
  "manMpPercent": 100,
  "womanMinistersPercent": 9.677419355,
  "manMinistersPercent": 90.32258065
 },
 "Zambia": {
  "countryName": "Zambia",
  "countryNameTranslation": "<%= Zambia %>",
  "rank": 116,
  "currency": "&#36;",
  "womanLabourForcePercent": 73.30000305,
  "manLabourForcePercent": 86,
  "womanSeniorOfficialsPercent": 19,
  "manSeniorOfficialsPercent": 81,
  "womanMpPercent": 12.65822785,
  "manMpPercent": 87.34177215,
  "womanMinistersPercent": 20,
  "manMinistersPercent": 80
 },
 "Zimbabwe": {
  "countryName": "Zimbabwe",
  "countryNameTranslation": "<%= Zimbabwe %>",
  "rank": 57,
  "currency": "&#36;",
  "womanDegree": "47.55445",
  "manDegree": "52.44555",
  "womanLabourForcePercent": 84.80000305,
  "manLabourForcePercent": 90.69999695,
  "womanSeniorOfficialsPercent": 20.6132879,
  "manSeniorOfficialsPercent": 79.55706985,
  "womanMpPercent": 31.48148148,
  "manMpPercent": 68.51851852,
  "womanMinistersPercent": 11.53846154,
  "manMinistersPercent": 88.46153846
 }
}