<div id="ns_countryRankResultsHolder" class="ns_countryRankResultsHolder ns_hideMe">
	<div class="ns_countryRankResultsBarsAndFlagHolder">
		<div class="ns_countryRankResultsBarHolder">
			<img class="ns_countryRankResultsBarPerson" src="<%= pathStatic %>/<%= vocab_dir %>/img/personf2.png" alt="">
			<div id="ns_countryRankResultFemaleBar" class="ns_countryRankResultsBar ns_countryRankResultsBarFemale" style="padding-bottom:100%"></div>
		</div><div class="ns_countryRankResultsFlagHolder">
			<div class="ns_flagHolderRel">
				<img class="ns_flagPoleImg" src="<%= pathStatic %>/<%= vocab_dir %>/img/flagpole.png" alt="">
				<img id="ns_countryResultsRankFlagImg" class="ns_flagImg" src="<%= pathStatic %>/<%= vocab_dir %>/img/flag___.png" alt="">
			</div>
		</div><div class="ns_countryRankResultsBarHolder">
			<img class="ns_countryRankResultsBarPerson" src="<%= pathStatic %>/<%= vocab_dir %>/img/personm2.png" alt="">
			<div id="ns_countryRankResultMaleBar" class="ns_countryRankResultsBar ns_countryRankResultsBarMale" style="padding-bottom:100%"></div>
		</div>
	</div>
	<h3 id="ns_countryRankResultsRankDescription" class="ns_countryRankResultsDescription"></h3>

	<!-- share button -->
	<div class="ns_shareHolder" id="ns_countryRankShare">
		<button class="ns_shareButton"><%= share %></button>
		<div class="ns_shareOverlayAbsHolder">
			<div class="ns_shareOverlay ns_hideMe">
				<h3><%= share %></h3>
				<a href="#" class="ns_shareOverlayClose"></a>
				<ul>
					<li>
						<a href="#" target="_blank" data-window-width="626" data-window-height="236" data-network="email" tabindex="1" class="s-b-p-a istats-notrack email__share-button">
							<img src="<%= pathStatic %>/<%= vocab_dir %>/img/share_overlay_email_btn.png">
							<span><%= email %></span>
						</a>
					</li>
					<li>
						<a href="#" target="_blank" data-window-width="626" data-window-height="236" data-network="facebook" tabindex="1" class="s-b-p-a istats-notrack facebook__share-button">
							<img src="<%= pathStatic %>/<%= vocab_dir %>/img/share_overlay_facebook_btn.png">
							<span><%= facebook %></span>
						</a>
					</li>
					<li>
						<a href="#" target="_blank" data-window-width="626" data-window-height="236" data-network="twitter" tabindex="1" class="s-b-p-a istats-notrack twitter__share-button">
							<img src="<%= pathStatic %>/<%= vocab_dir %>/img/share_overlay_twitter_btn.png">
							<span><%= twitter %></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- share button END -->

	<div class="ns_countryRankResultsRankingListHolder">
		<div class="ns_countryRankResultsRankingList">

			<div class="ns_inlineRankTitleHolder">
				<h4 class="ns_countryRankListTopColour"><%= topRanking %></h4>
			</div>

			<table class="ns_countryRankingTable">
				<tr>
					<th nowrap class="ns_countryRankingTableTh"><span id="ns_countryRankingCircleFigureTop1" class="ns_countryRankingTableLabel ns_countryRankListTopColour"></span></th>
					<th class="ns_countryRankingTableRightTh"><span id="ns_countryRankingCircleNameTop1" class="ns_countryRankingTableLabel"></span></th>
				</tr>
				<tr>
					<th nowrap class="ns_countryRankingTableTh"><span id="ns_countryRankingCircleFigureTop2" class="ns_countryRankingTableLabel ns_countryRankListTopColour"></span></th>
					<th class="ns_countryRankingTableRightTh"><span id="ns_countryRankingCircleNameTop2" class="ns_countryRankingTableLabel"></span></th>
				</tr>
				<tr>
					<th nowrap class="ns_countryRankingTableTh"><span id="ns_countryRankingCircleFigureTop3" class="ns_countryRankingTableLabel ns_countryRankListTopColour"></span></th>
					<th class="ns_countryRankingTableRightTh"><span id="ns_countryRankingCircleNameTop3" class="ns_countryRankingTableLabel"></span></th>
				</tr>
				<tr>
					<th nowrap class="ns_countryRankingTableTh"><span id="ns_countryRankingCircleFigureTop4" class="ns_countryRankingTableLabel"></span></th>
					<th class="ns_countryRankingTableRightTh"><span id="ns_countryRankingCircleNameTop4" class="ns_countryRankingTableLabel"></span></th>
				</tr>
				<tr>
					<th nowrap class="ns_countryRankingTableTh"><span id="ns_countryRankingCircleFigureTop5" class="ns_countryRankingTableLabel"></span></th>
					<th class="ns_countryRankingTableRightTh"><span id="ns_countryRankingCircleNameTop5" class="ns_countryRankingTableLabel"></span></th>
				</tr>
				<tr>
					<th nowrap class="ns_countryRankingTableTh"><span id="ns_countryRankingCircleFigureTop6" class="ns_countryRankingTableLabel"></span></th>
					<th class="ns_countryRankingTableRightTh"><span id="ns_countryRankingCircleNameTop6" class="ns_countryRankingTableLabel"></span></th>
				</tr>
				<tr>
					<th nowrap class="ns_countryRankingTableTh"><span id="ns_countryRankingCircleFigureTop7" class="ns_countryRankingTableLabel"></span></th>
					<th class="ns_countryRankingTableRightTh"><span id="ns_countryRankingCircleNameTop7" class="ns_countryRankingTableLabel"></span></th>
				</tr>
				<tr>
					<th nowrap class="ns_countryRankingTableTh"><span id="ns_countryRankingCircleFigureTop8" class="ns_countryRankingTableLabel"></span></th>
					<th class="ns_countryRankingTableRightTh"><span id="ns_countryRankingCircleNameTop8" class="ns_countryRankingTableLabel"></span></th>
				</tr>
				<tr>
					<th nowrap class="ns_countryRankingTableTh"><span id="ns_countryRankingCircleFigureTop9" class="ns_countryRankingTableLabel"></span></th>
					<th class="ns_countryRankingTableRightTh"><span id="ns_countryRankingCircleNameTop9" class="ns_countryRankingTableLabel"></span></th>
				</tr>
				<tr>
					<th nowrap class="ns_countryRankingTableTh"><span id="ns_countryRankingCircleFigureTop10" class="ns_countryRankingTableLabel"></span></th>
					<th class="ns_countryRankingTableRightTh"><span id="ns_countryRankingCircleNameTop10" class="ns_countryRankingTableLabel"></span></th>
				</tr>
			</table>

		</div><div class="ns_countryRankResultsRankingList">
			<div class="ns_inlineRankTitleHolder">
				<h4 class="ns_countryRankListBottomColour"><%= bottomRanking %></h4>
			</div>

			<table class="ns_countryRankingTable">
				<tr>
					<th nowrap class="ns_countryRankingTableTh"><span id="ns_countryRankingCircleFigureBottom1" class="ns_countryRankingTableLabel ns_countryRankListBottomColour"></span></th>
					<th class="ns_countryRankingTableRightTh"><span id="ns_countryRankingCircleNameBottom1" class="ns_countryRankingTableLabel"></span></th>
				</tr>
				<tr>
					<th nowrap class="ns_countryRankingTableTh"><span id="ns_countryRankingCircleFigureBottom2" class="ns_countryRankingTableLabel ns_countryRankListBottomColour"></span></th>
					<th class="ns_countryRankingTableRightTh"><span id="ns_countryRankingCircleNameBottom2" class="ns_countryRankingTableLabel"></span></th>
				</tr>
				<tr>
					<th nowrap class="ns_countryRankingTableTh"><span id="ns_countryRankingCircleFigureBottom3" class="ns_countryRankingTableLabel ns_countryRankListBottomColour"></span></th>
					<th class="ns_countryRankingTableRightTh"><span id="ns_countryRankingCircleNameBottom3" class="ns_countryRankingTableLabel"></span></th>
				</tr>
				<tr>
					<th nowrap class="ns_countryRankingTableTh"><span id="ns_countryRankingCircleFigureBottom4" class="ns_countryRankingTableLabel"></span></th>
					<th class="ns_countryRankingTableRightTh"><span id="ns_countryRankingCircleNameBottom4" class="ns_countryRankingTableLabel"></span></th>
				</tr>
				<tr>
					<th nowrap class="ns_countryRankingTableTh"><span id="ns_countryRankingCircleFigureBottom5" class="ns_countryRankingTableLabel"></span></th>
					<th class="ns_countryRankingTableRightTh"><span id="ns_countryRankingCircleNameBottom5" class="ns_countryRankingTableLabel"></span></th>
				</tr>
				<tr>
					<th nowrap class="ns_countryRankingTableTh"><span id="ns_countryRankingCircleFigureBottom6" class="ns_countryRankingTableLabel"></span></th>
					<th class="ns_countryRankingTableRightTh"><span id="ns_countryRankingCircleNameBottom6" class="ns_countryRankingTableLabel"></span></th>
				</tr>
				<tr>
					<th nowrap class="ns_countryRankingTableTh"><span id="ns_countryRankingCircleFigureBottom7" class="ns_countryRankingTableLabel"></span></th>
					<th class="ns_countryRankingTableRightTh"><span id="ns_countryRankingCircleNameBottom7" class="ns_countryRankingTableLabel"></span></th>
				</tr>
				<tr>
					<th nowrap class="ns_countryRankingTableTh"><span id="ns_countryRankingCircleFigureBottom8" class="ns_countryRankingTableLabel"></span></th>
					<th class="ns_countryRankingTableRightTh"><span id="ns_countryRankingCircleNameBottom8" class="ns_countryRankingTableLabel"></span></th>
				</tr>
				<tr>
					<th nowrap class="ns_countryRankingTableTh"><span id="ns_countryRankingCircleFigureBottom9" class="ns_countryRankingTableLabel"></span></th>
					<th class="ns_countryRankingTableRightTh"><span id="ns_countryRankingCircleNameBottom9" class="ns_countryRankingTableLabel"></span></th>
				</tr>
				<tr>
					<th nowrap class="ns_countryRankingTableTh"><span id="ns_countryRankingCircleFigureBottom10" class="ns_countryRankingTableLabel"></span></th>
					<th class="ns_countryRankingTableRightTh"><span id="ns_countryRankingCircleNameBottom10" class="ns_countryRankingTableLabel"></span></th>
				</tr>
			</table>

		</div>
	</div>
</div>