<div id="ns_governmentResultsHolder" class="ns_governmentResultsHolder ns_hideMe">
	<h3 id="ns_governmentResultsDescrip"></h3>
	<h2 id="ns_governmentResultsVal"></h2>
	<img id="ns_governmentResultsImg" class="ns_governmentImg" src="<%= pathStatic %>/<%= vocab_dir %>/img/government___.png" alt="">
	<!-- share button -->
	<div class="ns_shareHolder" id="ns_governmentShare">
		<button class="ns_shareButton"><%= share %></button>
		<div class="ns_shareOverlayAbsHolder">
			<div class="ns_shareOverlay ns_hideMe">
				<h3><%= share %></h3>
				<a href="#" class="ns_shareOverlayClose"></a>
				<ul>
					<li>
						<a href="#" target="_blank" data-window-width="626" data-window-height="236" data-network="email" tabindex="1" class="s-b-p-a istats-notrack email__share-button">
							<img src="<%= pathStatic %>/<%= vocab_dir %>/img/share_overlay_email_btn.png">
							<span><%= email %></span>
						</a>
					</li>
					<li>
						<a href="#" target="_blank" data-window-width="626" data-window-height="236" data-network="facebook" tabindex="1" class="s-b-p-a istats-notrack facebook__share-button">
							<img src="<%= pathStatic %>/<%= vocab_dir %>/img/share_overlay_facebook_btn.png">
							<span><%= facebook %></span>
						</a>
					</li>
					<li>
						<a href="#" target="_blank" data-window-width="626" data-window-height="236" data-network="twitter" tabindex="1" class="s-b-p-a istats-notrack twitter__share-button">
							<img src="<%= pathStatic %>/<%= vocab_dir %>/img/share_overlay_twitter_btn.png">
							<span><%= twitter %></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- share button END -->
</div>
<div class="ns_sectionSeperator ns_hideMe" id="ns_governmentResultsSeperator"></div>