<div id="ns_graduatesResultsHolder" class="ns_graduatesResultsHolder ns_hideMe">
	<img class="ns_graduateImg" src="<%= pathStatic %>/<%= vocab_dir %>/img/graduatef.png" alt="">
	<img class="ns_graduateImg" src="<%= pathStatic %>/<%= vocab_dir %>/img/graduatem.png" alt="">
	<h3 id="ns_graduatesResultsSelectedValDescrip"></h3>
	<h2 id="ns_graduatesResultsSelectedVal"></h2>
	<div class="ns_graduateResultsBarHolder">
		<span class="ns_graduateResultsKeyFemale"><%= women %></span>
		<span class="ns_graduateResultsKeyMale"><%= men %></span>
		<div class="ns_graduateBar">
			<div id="ns_graduateResultsFemaleBar" class="ns_graduateBarFemale"></div>
		</div>
	</div>
	<!-- share button -->
	<div class="ns_shareHolder" id="ns_graduatesShare">
		<button class="ns_shareButton"><%= share %></button>
		<div class="ns_shareOverlayAbsHolder">
			<div class="ns_shareOverlay ns_hideMe">
				<h3><%= share %></h3>
				<a href="#" class="ns_shareOverlayClose"></a>
				<ul>
					<li>
						<a href="#" target="_blank" data-window-width="626" data-window-height="236" data-network="email" tabindex="1" class="s-b-p-a istats-notrack email__share-button">
							<img src="<%= pathStatic %>/<%= vocab_dir %>/img/share_overlay_email_btn.png">
							<span><%= email %></span>
						</a>
					</li>
					<li>
						<a href="#" target="_blank" data-window-width="626" data-window-height="236" data-network="facebook" tabindex="1" class="s-b-p-a istats-notrack facebook__share-button">
							<img src="<%= pathStatic %>/<%= vocab_dir %>/img/share_overlay_facebook_btn.png">
							<span><%= facebook %></span>
						</a>
					</li>
					<li>
						<a href="#" target="_blank" data-window-width="626" data-window-height="236" data-network="twitter" tabindex="1" class="s-b-p-a istats-notrack twitter__share-button">
							<img src="<%= pathStatic %>/<%= vocab_dir %>/img/share_overlay_twitter_btn.png">
							<span><%= twitter %></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- share button END -->
</div>
<div class="ns_sectionSeperator ns_hideMe" id="ns_graduatesResultsSeperator"></div>