<%= include('includes/top.tmpl') %>

    <div class="main">
    	<%= include('countrySearchTopAnim.tmpl') %>
    	<%= include('countrySearch.tmpl') %>

    	<%= include('countryRankResults.tmpl') %>
    	<%= include('risersAndFallersResults.tmpl') %>
    	<%= include('earningsResults.tmpl') %>
    	<%= include('graduatesResults.tmpl') %>
    	<%= include('employmentResults.tmpl') %>
        <%= include('officialsResults.tmpl') %>
        <%= include('governmentResults.tmpl') %>
    	<%= include('equalityPrediction.tmpl') %>
    </div>

<%= include('includes/bottom.tmpl') %>
