<div id="ns_risersAndFallersResultsHolder" class="ns_risersAndFallersResultsHolder ns_hideMe">
	<div class="ns_risersAndFallersInnerHolder">
		<h4><%= risersAndFallers %></h4>
		<div class="ns_risersAndFallersFlagsHolder">
			<div class="ns_risersAndFallersFlagHolder">
				<span class="ns_risersAndFallersRankTitle"><%= riserOne %></span>
				<img id="ns_risersAndFallersFlagImg1" class="ns_risersAndFallersFlagImg" src="<%= pathStatic %>/<%= vocab_dir %>/img/flagbolivia.png" alt="">
				<h5><%= Bolivia %></h5>
				<img class="ns_risersAndFallersArrowImg ns_risersAndFallersUpArrow" src="<%= pathStatic %>/<%= vocab_dir %>/img/arrowup.png">
				<span id="ns_riserOneRankVal">65</span>
			</div><div class="ns_risersAndFallersFlagHolder">
				<span class="ns_risersAndFallersRankTitle"><%= riserTwo %></span>
				<img id="ns_risersAndFallersFlagImg1" class="ns_risersAndFallersFlagImg" src="<%= pathStatic %>/<%= vocab_dir %>/img/flagnicaragua.png" alt="">
				<h5><%= Nicaragua %></h5>
				<img class="ns_risersAndFallersArrowImg ns_risersAndFallersUpArrow" src="<%= pathStatic %>/<%= vocab_dir %>/img/arrowup.png">
				<span id="ns_riserTwoRankVal">50</span>
			</div>
			<p><%= risersText %></p>
		</div><div class="ns_risersAndFallersFlagsHolder">
			<div class="ns_risersAndFallersFlagHolder">
				<span class="ns_risersAndFallersRankTitle"><%= fallerOne %></span>
				<img id="ns_risersAndFallersFlagImg1" class="ns_risersAndFallersFlagImg" src="<%= pathStatic %>/<%= vocab_dir %>/img/flagcroatia.png" alt="">
				<h5><%= Croatia %></h5>
				<img class="ns_risersAndFallersArrowImg ns_risersAndFallersDownArrow" src="<%= pathStatic %>/<%= vocab_dir %>/img/arrowdown.png">
				<span id="ns_fallerOneRankVal">43</span>
			</div><div class="ns_risersAndFallersFlagHolder">
				<span class="ns_risersAndFallersRankTitle"><%= fallerTwo %></span>
				<img id="ns_risersAndFallersFlagImg1" class="ns_risersAndFallersFlagImg" src="<%= pathStatic %>/<%= vocab_dir %>/img/flagsrilanka.png" alt="">
				<h5><%= Sri_Lanka %></h5>
				<img class="ns_risersAndFallersArrowImg ns_risersAndFallersDownArrow" src="<%= pathStatic %>/<%= vocab_dir %>/img/arrowdown.png">
				<span id="ns_fallerTwoRankVal">71</span>
			</div>
			<p><%= fallersText %></p>
		</div>
	</div>
</div>
<div class="ns_sectionSeperator ns_hideMe" id="ns_countryRankResultsSeperator"></div>
<!-- <div id="ns_risersAndFallersResultsHolder" class="ns_risersAndFallersResultsHolder ns_hideMe">
	<div class="ns_risersAndFallersInnerHolder">
		<h4><%= risersAndFallers %></h4>
		<div class="ns_risersAndFallersFlagsHolder">
			<div class="ns_risersAndFallersFlagHolder">
				<span class="ns_risersAndFallersRankTitle">embargoed</span>
				<img id="ns_risersAndFallersFlagImg1" class="ns_risersAndFallersFlagImg" src="<%= pathStatic %>/<%= vocab_dir %>/img/flag___.png" alt="">
				<h5>embargoed</h5>
				<img class="ns_risersAndFallersArrowImg ns_risersAndFallersUpArrow" src="<%= pathStatic %>/<%= vocab_dir %>/img/arrowup.png">
				<span id="ns_riserOneRankVal">00</span>
			</div><div class="ns_risersAndFallersFlagHolder">
				<span class="ns_risersAndFallersRankTitle">embargoed</span>
				<img id="ns_risersAndFallersFlagImg1" class="ns_risersAndFallersFlagImg" src="<%= pathStatic %>/<%= vocab_dir %>/img/flag___.png" alt="">
				<h5>embargoed</h5>
				<img class="ns_risersAndFallersArrowImg ns_risersAndFallersUpArrow" src="<%= pathStatic %>/<%= vocab_dir %>/img/arrowup.png">
				<span id="ns_riserTwoRankVal">00</span>
			</div>
			<p>Duis laoreet elementum risus eget rhoncus. Morbi nec aliquam sapien. Pellentesque ligula ipsum, imperdiet quis dui at, scelerisque accumsan velit.</p>
		</div><div class="ns_risersAndFallersFlagsHolder">
			<div class="ns_risersAndFallersFlagHolder">
				<span class="ns_risersAndFallersRankTitle">embargoed</span>
				<img id="ns_risersAndFallersFlagImg1" class="ns_risersAndFallersFlagImg" src="<%= pathStatic %>/<%= vocab_dir %>/img/flag___.png" alt="">
				<h5>embargoed</h5>
				<img class="ns_risersAndFallersArrowImg ns_risersAndFallersDownArrow" src="<%= pathStatic %>/<%= vocab_dir %>/img/arrowdown.png">
				<span id="ns_fallerOneRankVal">00</span>
			</div><div class="ns_risersAndFallersFlagHolder">
				<span class="ns_risersAndFallersRankTitle">embargoed</span>
				<img id="ns_risersAndFallersFlagImg1" class="ns_risersAndFallersFlagImg" src="<%= pathStatic %>/<%= vocab_dir %>/img/flag___.png" alt="">
				<h5>embargoed</h5>
				<img class="ns_risersAndFallersArrowImg ns_risersAndFallersDownArrow" src="<%= pathStatic %>/<%= vocab_dir %>/img/arrowdown.png">
				<span id="ns_fallerTwoRankVal">00</span>
			</div>
			<p>Duis laoreet elementum risus eget rhoncus. Morbi nec aliquam sapien.</p>
		</div>
	</div>
</div>
<div class="ns_sectionSeperator ns_hideMe" id="ns_countryRankResultsSeperator"></div> -->