{
 "countryRankData": {
  "totalCountriesNum": 145,
  "countryBands": [
   {
    "topLevel": 33,
    "bottomLevel": 1,
    "message": "<%= countryRankBandMessage1To28 %>",
    "maleBarHeight": 55,
    "femaleBarHeight": 45
   },
   {
    "topLevel": 59,
    "bottomLevel": 34,
    "message": "<%= countryRankBandMessage29To57 %>",
    "maleBarHeight": 60,
    "femaleBarHeight": 40
   },
   {
    "topLevel": 92,
    "bottomLevel": 60,
    "message": "<%= countryRankBandMessage58To86 %>",
    "maleBarHeight": 70,
    "femaleBarHeight": 30
   },
   {
    "topLevel": 111,
    "bottomLevel": 93,
    "message": "<%= countryRankBandMessage87To115 %>",
    "maleBarHeight": 80,
    "femaleBarHeight": 20
   },
   {
    "topLevel": 145,
    "bottomLevel": 112,
    "message": "<%= countryRankBandMessage116To145 %>",
    "maleBarHeight": 90,
    "femaleBarHeight": 10
   }
  ],
  "top10Countries": [
   {
    "rank": 1,
    "countryName": "<%= Iceland %>"
   },
   {
    "rank": 2,
    "countryName": "<%= Norway %>"
   },
   {
    "rank": 3,
    "countryName": "<%= Finland %>"
   },
   {
    "rank": 4,
    "countryName": "<%= Sweden %>"
   },
   {
    "rank": 5,
    "countryName": "<%= Ireland %>"
   },
   {
    "rank": 6,
    "countryName": "<%= Rwanda %>"
   },
   {
    "rank": 7,
    "countryName": "<%= Philippines %>"
   },
   {
    "rank": 8,
    "countryName": "<%= Switzerland %>"
   },
   {
    "rank": 9,
    "countryName": "<%= Slovenia %>"
   },
   {
    "rank": 10,
    "countryName": "<%= New_Zealand %>"
   }
  ],
  "bottom10Countries": [
   {
    "rank": 145,
    "countryName": "<%= Yemen %>"
   },
   {
    "rank": 144,
    "countryName": "<%= Pakistan %>"
   },
   {
    "rank": 143,
    "countryName": "<%= Syria %>"
   },
   {
    "rank": 142,
    "countryName": "<%= Chad %>"
   },
   {
    "rank": 141,
    "countryName": "<%= Iran %>"
   },
   {
    "rank": 140,
    "countryName": "<%= Jordan %>"
   },
   {
    "rank": 139,
    "countryName": "<%= Morocco %>"
   },
   {
    "rank": 138,
    "countryName": "<%= Lebanon %>"
   },
   {
    "rank": 137,
    "countryName": "<%= Mali %>"
   },
   {
    "rank": 136,
    "countryName": "<%= Egypt %>"
   }
  ],
  "shareMessage": "<%= shareTextCountryRank %>"
 },
 "earningsData": {
  "descrip": "<%= earningsDescrip %>",
  "shareMessage": "<%= shareTextEarnings %>"
 },
 "graduatesData": {
  "valDescripFemale": "<%= graduatesTextWomen %>",
  "valDescripMale": "<%= graduatesTextMen %>",
  "shareMessageFemale": "<%= shareTextGraduatesWomen %>",
  "shareMessageMale": "<%= shareTextGraduatesMen %>"
 },
 "employmentData": {
  "shareMessageFemale": "<%= shareTextEmploymentWomen %>",
  "shareMessageMale": "<%= shareTextEmploymentMen %>"
 },
 "officialsData": {
  "female0-10": "<%= seniorOfficialsWomenMessage0to10 %>",
  "female11-15": "<%= seniorOfficialsWomenMessage11to15 %>",
  "female16-24": "<%= seniorOfficialsWomenMessage16to24 %>",
  "female25-34": "<%= seniorOfficialsWomenMessage25to34 %>",
  "female35-44": "<%= seniorOfficialsWomenMessage35to44 %>",
  "female45-50": "<%= seniorOfficialsWomenMessage45to50 %>",
  "female51-100": "<%= seniorOfficialsWomenMessageAbove50 %>",
  "male0-49": "<%= seniorOfficialsMenMessageBelow50 %>",
  "male50-54": "<%= seniorOffiicialsMenMessage50to54 %>",
  "male55-64": "<%= seniorOfficialsMenMessage55to64 %>",
  "male65-74": "<%= seniorOfficialsMenMessage65to74 %>",
  "male75-84": "<%= seniorOfficialsMenMessage75to84 %>",
  "male85-94": "<%= seniorOfficialsMenMessage85to94 %>",
  "male95-100": "<%= seniorOfficialsMenMessageAbove95 %>",
  "shareMessageFemale": "<%= shareTextSeniorOfficialsWomen %>",
  "shareMessageMale": "<%= shareTextSeniorOfficialsMen %>"
 },
 "governmentData": {
  "femaleDescrip": "<%= govMinistersDescripFemale %>",
  "maleDescrip": "<%= govMinistersDescripMale %>",
  "shareMessageFemale": "<%= shareTextGovernmentMinistersWomen %>",
  "shareMessageMale": "<%= shareTextGovernmentMinistersMen %>"
 },
 "globalSummaryData": {
  "shareMessage": "<%= shareTextGlobalSummary %>"
 },
 "assetsDomain": "<%= pathStatic %>/<%= vocab_dir %>",
 "emailSubject": "<%= emailSubject %>",
 "twitterHashTag": "<%= twitterHashTag %>",
 "twitterPrefixUnited_Arab_Emirates": "<%= twitterCountryNameUnited_Arab_Emirates %>",
 "twitterPrefixBahamas": "<%= twitterCountryNameBahamas %>",
 "twitterPrefixCzech_Republic": "<%= twitterCountryNameCzech_Republic %>",
 "twitterPrefixDominican_Republic": "<%= twitterCountryNameDominican_Republic %>",
 "twitterPrefixNetherlands": "<%= twitterCountryNameNetherlands %>",
 "twitterPrefixUnited_States": "<%= twitterCountryNameUnited_States %>",
 "twitterPrefixUnited_Kingdom": "<%= twitterCountryNameUnited_Kingdom %>"
}