.ns_equalityPredictionHolder {
	
	width:100%;
	max-width: 500px;
	margin: 50px auto;
	padding: 0 8px;
	text-align: center;


	.ns_equalityPredictionImg {
		margin: 0 auto;
		// width: inherit;
		// max-width: 150px;
		// height: auto;
		width: 150px;
		height: 150px;
	}

	h3 {
		margin: 28px auto 0 auto;
	}

	h2 {
		font-size: 2.5em;
		margin: 0 auto 28px auto;
		color: $color--brand-teal;
	}
}