@import "news_special/defaults";
@import "app";
@import "mixins";
@import "colours";
@import "type";
@import "buttons";
@import "autocomplete";

@import "countrySearchTopAnim";
@import "countrySearch";
@import "countryRankResults";
@import "risersAndFallersResults";
@import "earningsResults";
@import "graduatesResults";
@import "employmentResults";
@import "officialsResults";
@import "governmentResults";
@import "equalityPrediction";

@import "sharing";

.ns_hideMe {
	display: none;
}

.ns_sectionSeperator {
	width: 100%;
	max-width: 810px;
	height: 1px;
	background-color: #DDD;
	margin: 50px auto;
}
